/*
Because Safari doesn't support @page, we have to trim the page borders and skip the backgrounds.

And because Safari interprets point sizes differently, we have to pick a smaller base font size.

:`(

*/


html.html--safari {
  font-size: 9pt;
  
  .page {
    background-image: none !important;

    .page-number {
      bottom: 0;
      right: 0;
      text-align: right;
    }

    .copyright-attribution {
      bottom: 0;
      left: 0;
      right: 0.3cm;
    }
  }

  @media print {
    .page {
      padding: 0;
      
      .copyright-attribution {
        bottom: -1cm;
      }
    }
  }

  @media screen {
    // Show a message
    #screen-message-safari {
      display: block;
    }
  }
}
