/*
Because Safari doesn't support @page, we have to trim the page borders and skip the backgrounds.

:`(

*/


html.html--safari {
  font-size: 9pt;
  
  .page {
    background-image: none !important;
  }

  @media print {
    .page {
      padding: 0;
      
      .copyright-attribution {
        bottom: -1cm;
      }
    }
  }

  @media screen {
    // Show a message
    #screen-message-safari {
      display: block;
    }
  }
}
