$page_width: 19.5cm;
$page_height: 27cm;

$colour_screen_bg: #e0e0e0;
$colour_screen_bg2: #c0c0c0;

$colour_screen_print_button: #2020d0;


/* Screen styles */
body {
    background: $colour_screen_bg;
    background: linear-gradient(to right, $colour_screen_bg2 0%, $colour_screen_bg 50%, $colour_screen_bg2 100%);
    padding-bottom: 2cm;
}
main {
    // max-width: 22cm;
	// margin: 0 auto;
}
.page {
    width: $page_width;
    height: $page_height;
    box-shadow: 0 0 1cm rgba(0,0,0,0.1);
    background: white;
    margin: 1cm auto;

    &--landscape {
        width: $page_height;
        height: $page_width;
    }
}


/* Non-printing elements */

#screen-buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    background: rgba(255,255,255,0.7);
    padding: 0.5cm;
    box-shadow: 0 0 1cm rgba(0,0,0,0.3);

    text-align: center;
    z-index: 100;

    #left-buttons {
        position: absolute;
        top: 0.52cm;
        left: 0.52cm;
        text-align: left;
        
        display: flex;
        flex-direction: row;
        justify-items: center;

        button {
            margin-right: 0.5cm;
            cursor: pointer;

            color: black;
            span {
                color: black;
            }
        }
    }
}

button {
    $button_size: 24px;

    &#button--print {
        background: $colour_screen_print_button;
        color: white !important;
        font-weight: bold;
        width: 4cm;
        padding: 5pt;
        border: 0 none;
        border-radius: 2pt;
        cursor: pointer;
        box-shadow: 0 2pt 10pt rgba(0,0,0,0.4);
    }

    &.btn {
        height: $button_size;
        line-height: $button_size;

        padding: 0 0 0;
        border-style: none;
        background-color: transparent;

        display: flex;
        flex-direction: row;
        justify-items: center;

        i {
            display: inline;
            height: $button_size;
            width: $button_size;

            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;

            margin-right: 0.2cm;
        }
    }

    &#button--large {
        i {
            background-image: url('{{{dataurl "images/text-height.svg"}}}');
        }
    }

    &#button--high-contrast {
        i {
            background-image: url('{{{dataurl "images/adjust.svg"}}}');
        }
    }
}