$page_width: 19.5cm;
$page_height: 27cm;

$colour_screen_bg: #e0e0e0;
$colour_screen_bg2: #c0c0c0;

$colour_screen_print_button_hi: #3030e0;
$colour_screen_print_button_lo: #1c1ccc;

$colour_screen_save_button_hi: #fcfcfc;
$colour_screen_save_button_lo: #d8d8d8;

/* Screen styles */
body {
  background: $colour_screen_bg;
  background: linear-gradient(to right, $colour_screen_bg2 0%, $colour_screen_bg 50%, $colour_screen_bg2 100%);
  padding-bottom: 2cm;
}

.page {
  width: $page_width;
  height: $page_height;
  box-shadow: 0 0 1cm rgba(0, 0, 0, 0.1);
  background: white;
  margin: 1cm auto;

  &--landscape {
    width: $page_height;
    height: $page_width;
  }
}

/* Non-printing elements */

#screen-buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background: rgba(240, 240, 240, 0.7);
  padding: 0.5cm;
  box-shadow: 0 0 1cm rgba(0, 0, 0, 0.3);

  // text-align: center;
  z-index: 100;

  display: flex;
  flex-direction: row;
  justify-content: center;

  #left-buttons {
    position: absolute;
    top: 0.52cm;
    left: 0.52cm;
    text-align: left;

    display: flex;
    flex-direction: row;
    justify-items: center;

    button {
      margin-right: 0.5cm;
      cursor: pointer;

      color: black;
      span {
        color: black;
      }
    }
  }
}

#index-buttons {
  $page-height: 3.6vh;
  $page-width: $page-height * 0.75;

  position: fixed;
  left: 0.1cm;
  top: 0;
  bottom: 2cm;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: $page-height * 0.3;

  // &.index-buttons--many {
  //   $many-page-height: 3.3vh;
  //   $many-page-width: $many-page-height * 0.75;

  //   gap: $many-page-height * 0.3;

  //   button.index-button {
  //     height: $many-page-height;
  //     border: $page-height * 0.04 solid #666;
  //     width: $page-width;
  //     height: $page-height;
  //   }
  // }

  button.index-button {
    background: none;
    position: relative;
    border: 0 none;
    display: block;
    height: $page-height;

    .index-button__page {
      display: inline-block;
      border: $page-height * 0.04 solid #666;
      width: $page-width;
      height: $page-height;
      display: inline-block;
      line-height: $page-height;
      background: rgba(255,255,255,0.7);
      opacity: 0.5;
      text-align: center;
      transition: opacity 0.3s;
      position: relative;
    }

    .index-button__icon {
      display: block;
      width: $page-width;
      height: $page-height;
      line-height: $page-height;
    }

    .index-button__number {
      font-style: normal;
      font-weight: bold;
      font-size: $page-height * 0.6;
      line-height: $page-height;
      
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
    }

    .index-button__label {
      display: none;
      position: absolute;
      left: $page-height * 1.2;
      top: $page-height * 0.05;

      // opacity: 0.1;
      transition: left 1s;
      font-size: $page-height * 0.4;
      line-height: $page-height;
      color: #666;
      white-space: nowrap;
    }
  }

  &:hover {
    button.index-button {
      .index-button__page {
        opacity: 1;
      }
      .index-button__label {
        display: block;
      }
    }
  }

  button.index-button.index-button--current {
    .index-button__page {
      opacity: 1;
    }
  }
}

button {
  $button_size: 32px;
  $icon_size: 20px;

  height: $button_size;
  line-height: $button_size;
  cursor: pointer;

  &#button--print {
    background: linear-gradient($colour_screen_print_button_hi, $colour_screen_print_button_lo);
    color: white !important;
    font-weight: bold;
    width: 4cm;
    // padding: 5pt;
    border: 0 none;
    border-radius: 2pt;
    box-shadow: 0 2pt 10pt rgba(0, 0, 0, 0.4);
    height: $button_size;
    line-height: $button_size;

    i {
      background-image: url('{{{dataurl "images/print.svg"}}}');
    }
  }

  &#button--save {
    cursor: inherit;
    opacity: 0.4;
    background: rgba(255,255,255,0.3);
    color: #303030;
    font-weight: bold;
    margin-left: 1rem;
    border: 1px solid #c0c0c0;
    border-radius: 2pt;
    width: 4cm;
    box-shadow: 0 2pt 10pt rgba(0, 0, 0, 0.4);

    i {
      background-image: url('{{{dataurl "images/save.svg"}}}');
    }

    body.body--changed & {
      opacity: 1.0;
      background: linear-gradient($colour_screen_save_button_hi, $colour_screen_save_button_lo);
      cursor: pointer;
    }
  }

  &.btn {
    padding: 0 0 0;
    border-style: none;
    background-color: transparent;

    // display: flex;
    // flex-direction: row;
    // justify-items: center;
  }

  i {
    display: inline-block;
    height: $icon_size;
    width: $icon_size;

    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

    margin-right: 0.2cm;
    vertical-align: middle;
  }

  &#button--large {
    i {
      background-image: url('{{{dataurl "images/text-height.svg"}}}');
    }
  }

  &#button--high-contrast {
    i {
      background-image: url('{{{dataurl "images/adjust.svg"}}}');
    }
  }
}

.screen-message {
  display: none;
  position: fixed;
  bottom: 100px;
  left: 30px;

  background: rgba(255, 255, 255, 0.7);
  padding: 8px 16px;
  box-shadow: 0 0.1cm 0.2cm rgba(0, 0, 0, 0.3);

  p {
    font-size: 16px;
    color: #303030;
  }
}
