
@media screen {
	@import 'media-screen';
}

@media print {
	@import 'media-print';
}

@media reader, speech, aural {
	@import 'media-reader';
}


html {
    font-size: 10pt;

	&.html--high_contrast {
		.page {
			* {
				color: black !important;
			}
			h3 {
				color: white !important;
				text-shadow: 0 0 2px black;
			}
		}
	}
}

@import 'browser-safari';
