node_modules
tmp
debug
local
src/lib-charactersheets.js
src/.lib-charactersheets.js
.dropbox
desktop.ini
src/units/premium
lib-premium.json
test/out/i18n
package-lock.json
test/out/html/*.html
test/out/json/*.json
