$colour_dark_base: #404040;
$colour_darker_base: #202020;

html .page {
  * {
    color: $colour_dark_base;
  }
  
  h2, h3, h4, h5, h6 {
    color: $colour_dark_base;
  }

  h3 {
    background: white;
    border-bottom: 1.5pt solid $colour_dark_base;
    text-shadow: none !important;
    margin-top: 3pt;
  }

  label, p, a {
    color: $colour_dark_base;
  }

  h5:first-line {
    color: $colour_darker_base;
  }

  .field__control--control_checkbox input[type=checkbox] + label, .field--control_checkgrid .field__control input[type=checkbox] + label {
    border-color: $colour_darker_base;
  }

  .field__control u {
    display: none;
  }
}
