.embed {
  &--src_gm-hanger {
    width: 56.08mm;
    height: 237.43mm;
    background-image: url('{{{dataurl "images/mini-hanger.svg"}}}');

    .embed__reverse {
      top: 8mm;
      left: 7.9mm;
      width: 40mm;
      height: 96mm;
    }

    .embed__inner {
      top: 108mm;
      left: 7.9mm;
      width: 40mm;
      height: 120mm;
    }
  }

  &--src_mini-medium {
    width: 40.04mm;
    height: 178.05mm;
    background-image: url('{{{dataurl "images/mini-medium.svg"}}}');

    .embed__reverse {
      top: 20mm;
      left: 7.62mm;
      width: 25mm;
      height: 47mm;
    }
    .embed__inner {
      top: 69.5mm;
      left: 7.62mm;
      width: 25mm;
      height: 47mm;
    }
    .embed__base {
      top: 118.5mm;
      left: 7.62mm;
      width: 25mm;
      height: 10mm;
    }
    .embed__base-reverse {
      top: 159.5mm;
      left: 7.62mm;
      width: 25mm;
      height: 10mm;
    }
  }

  &--src_standee {
    width: 66.31mm;
    height: 229.13mm;
    background-image: url('{{{dataurl "images/mini-standee.svg"}}}');
    
    .embed__reverse {
      top: 21mm;
      left: 8mm;
      width: 50mm;
      height: 73mm;
    }

    .embed__inner {
      top: 96mm;
      left: 8mm;
      width: 50mm;
      height: 73mm;
    }
  }

  &--src_instructions {
    width: 63.97mm;
    height: 31.87mm;
    background-image: url('{{{dataurl "images/mini-instructions.svg"}}}');
  }
}
