.embed {
  &--src_gm-hanger {
    width: 66.31mm;
    height: 187.67mm;
    background-image: url('{{{dataurl "images/mini-hanger.svg"}}}');

    .embed__reverse {
      top: 8mm;
      left: 7.9mm;
      width: 50mm;
      height: 98mm;
    }

    .embed__inner {
      top: 113.2mm;
      left: 7.9mm;
      width: 50mm;
      height: 63.5mm;
    }
  }

  &--src_mini-medium {
    width: 37.92mm;
    height: 142.9mm;
    background-image: url('{{{dataurl "images/mini-medium.svg"}}}');

    .embed__reverse {
      top: 20mm;
      left: 7.37mm;
      width: 23.17mm;
      height: 30.86mm;
    }
    .embed__inner {
      top: 53mm;
      left: 7.37mm;
      width: 23.17mm;
      height: 30.86mm;
    }
    .embed__base {
      top: 86.5mm;
      left: 7.37mm;
      width: 23.17mm;
      height: 10mm;
    }
    .embed__base-reverse {
      top: 125.5mm;
      left: 7.37mm;
      width: 23.17mm;
      height: 10mm;
    }
  }

  &--src_standee {
    width: 66.31mm;
    height: 229.13mm;
    background-image: url('{{{dataurl "images/mini-standee.svg"}}}');
    
    .embed__reverse {
      top: 21mm;
      left: 8mm;
      width: 50mm;
      height: 73mm;
    }

    .embed__inner {
      top: 96mm;
      left: 8mm;
      width: 50mm;
      height: 73mm;
    }
  }

  &--src_instructions {
    width: 63.97mm;
    height: 31.87mm;
    background-image: url('{{{dataurl "images/mini-instructions.svg"}}}');
  }
}
