.embed {
  position: relative;

  label.embed__label {
    position: absolute;
    font-size: 1rem;

    &.align_right {
      text-align: right;
    }

    &.size_small {
      font-size: 0.875rem;
      line-height: 1.05rem;
    }
  
    &.size_large {
      font-size: 1.1rem;
    }
  
    &.size_huge {
      font-size: 1.2rem;
    }
  
    &.size_gargantuan {
      font-size: 1.5rem;
    }

    &.embed__label--rotate_ccw {
      transform: rotate(-90deg); // translate(-0.3rem, -0.8rem);
    }

    &.embed__label--rotate_cw {
      transform: rotate(90deg); // translate(-0.3rem, -0.8rem);
    }
  }

  // Specific embeds
  &--src_gm-hanger {
    width: 15.89rem;
    height: 67.31rem;
    background-image: url('{{{dataurl "images/mini-hanger.svg"}}}');

    .embed__reverse {
      top: 2.267rem;
      left: 2.239rem;
      width: 11.335rem;
      height: 27.203rem;
    }

    .embed__inner {
      top: 30.604rem;
      left: 2.239rem;
      width: 11.335rem;
      height: 34.004rem;
    }
  }

  &--src_mini-medium {
    width: 11.346rem;
    height: 50.453rem;
    background-image: url('{{{dataurl "images/mini-medium.svg"}}}');

    .embed__reverse {
      top: 5.667rem;
      left: 2.159rem;
      width: 7.084rem;
      height: 13.318rem;
    }
    .embed__inner {
      top: 19.694rem;
      left: 2.159rem;
      width: 7.084rem;
      height: 13.318rem;
    }
    .embed__base {
      top: 33.579rem;
      left: 2.159rem;
      width: 7.084rem;
      height: 2.834rem;
    }
    .embed__base-reverse {
      top: 159.5rem;
      left: 2.159rem;
      width: 7.084rem;
      height: 2.834rem;
    }
  }

  &--src_mini-small {
    width: 11.346rem;
    height: 38.537rem;
    background-image: url('{{{dataurl "images/mini-small.svg"}}}');

    .embed__reverse {
      top: 5.667rem;
      left: 2.975rem;
      width: 5.384rem;
      height: 7.651rem;
    }
    .embed__inner {
      top: 13.517rem;
      left: 2.975rem;
      width: 5.384rem;
      height: 7.651rem;
    }
    .embed__base {
      top: 21.678rem;
      left: 2.159rem;
      width: 7.084rem;
      height: 2.834rem;
    }
    .embed__base-reverse {
      top: 33.437rem;
      left: 2.159rem;
      width: 7.084rem;
      height: 2.834rem;
    }
  }

  &--src_mini-large {
    width: 17.569rem;
    height: 71.031rem;
    background-image: url('{{{dataurl "images/mini-large.svg"}}}');

    .embed__reverse {
      top: 5.667rem;
      left: 2.159rem;
      width: 13.290rem;
      height: 17.569rem;
    }
    .embed__inner {
      top: 24.001rem;
      left: 2.159rem;
      width: 13.290rem;
      height: 17.569rem;
    }
    .embed__base {
      top: 44.772rem;
      left: 2.159rem;
      width: 13.290rem;
      height: 2.834rem;
    }
    .embed__base-reverse {
      top: 63.049rem;
      left: 2.159rem;
      width: 13.290rem;
      height: 2.834rem;
    }
  }

  &--src_standee {
    width: 18.79rem;
    height: 64.928rem;
    background-image: url('{{{dataurl "images/mini-standee.svg"}}}');
    
    .embed__reverse {
      top: 5.951rem;
      left: 2.267rem;
      width: 14.168rem;
      height: 20.686rem;
    }

    .embed__inner {
      top: 27.203rem;
      left: 2.267rem;
      width: 14.168rem;
      height: 20.686rem;
    }
  }

  &--src_instructions {
    width: 18.127rem;
    height: 9.031rem;
    background-image: url('{{{dataurl "images/mini-instructions.svg"}}}');
  }
}
