.field {
  input {
    color: $colour_dark;
    background: none;
  }

  &.field--temp {
    .field__box {
      border-bottom: 2 * $pt solid $colour_light; // !important;
      margin-bottom: -2 * $pt;
    }
    .field__frame {
      // margin-bottom: -$pt;
    }

    .field__box.field__box--border_full {
      border: 2 * $pt solid $colour_light; // !important;
      margin: -2 * $pt 0;
      border-radius: 4 * $pt;
      outline-radius: 4 * $pt;
      -moz-outline-radius: 4 * $pt;
    }

    &.field--icon {
      .field__box.field__box--border_full {
        border-left: 0 none;
        margin-left: 0;
      }
    }
  }

  &.field--border_circle {
    $diameter: 2.7rem;
    $border: 0.2rem;

    width: $diameter + 2 * $border;
    flex: 0 0 auto;
    position: relative;

    .field__frame {
      width: $diameter + 2 * $border;
    }

    .field__control.field__control--control_radio {
      position: absolute;
      top: -6px;
      left: -6px;
      width: 12px;
      height: 12px;
    }

    .field__box,
    .field__box.field__box--border_full {
      width: $diameter;
      height: $diameter;
      border-radius: $diameter; // easier to overstate than calculate
      border-style: solid;
      border-width: $border;
      border-color: $colour_light;
      margin: -$border 0;
      background: white;
      position: relative;
    }

    .field__control {
      width: $diameter;
      height: $diameter;

      u {
        height: $diameter;
        line-height: $diameter;
      }
    }

    input {
      width: $diameter !important;
      height: $diameter !important;
      line-height: $diameter !important;
      text-align: center;
      padding: 0;
      margin: 0;
      border-radius: $diameter;
    }

    .field__overlay {
      position: absolute;
      right: -0.3rem;
      bottom: -0.2rem;

      padding: 0.1rem 0 0 0.1rem;
      width: 1.3rem;
      height: 1.3rem;
      line-height: 1.3rem;
      border-radius: 1rem;
      background: white;
      
      border-style: solid;
      border-width: 0 2*$pt 2*$pt 0;
      border-color: $colour_light;

      font-size: 1.2rem;
      text-align: center;
      // text-shadow: 0 0 10 * $pt white, 0 0 5 * $pt white, 0 0 2 * $pt white, 0 0 $pt white, 0 0 $pt white;
    }
  }
}

table.table--collapse .field {
  margin-top: -0.38 * $pt;
  margin-bottom: -0.38 * $pt;
}

.field__boxes {
  .field__box.field__box--border_full {
    border-radius: 0;
    border-right-width: 0;
    border-right-style: none;
  }

  .field__boxes__inner {
    .field__box--temp {
      border-width:  2 * $pt;
      border-style: solid;
      border-color: $colour_light;

      .field__control, .field__overlay {
        margin-top: -1 * $pt;
        margin-bottom: -1.5 * $pt;
      }
    }

    &:first-child .field__box.field__box--border_full {
      border-top-left-radius: 2 * $pt;
      border-bottom-left-radius: 2 * $pt;
    }
    &:last-child .field__box.field__box--border_full {
      border-top-right-radius: 2 * $pt;
      border-bottom-right-radius: 2 * $pt;
      
      border-right-width: 0.75 * $pt;
      border-right-style: solid;

      &.field__box--temp {
        border-top-right-radius: 4 * $pt;
        border-bottom-right-radius: 4 * $pt;

        border-right-width:  2 * $pt;
        border-right-style: solid;
        border-right-color: $colour_light;
      }
    }
  }
}

.field__box {
  border-bottom: 0.4 * $pt solid $colour_main;
  margin-bottom: -0.4 * $pt;

  .field--icon &,
  &.field__box--border_full {
    border-radius: 2 * $pt;
    outline-radius: 2 * $pt;
    -moz-outline-radius: 2 * $pt;
  }

  &.field__box--border_full {
    border: 0.75 * $pt solid $colour_main;
    margin: -0.75 * $pt 0;

    background: white;
    .field--icon & {
      border-left-width: 0;
      margin-left: 0;
    }
  }

  &.field__box--border_bottom-right {
    border-bottom: 0.4 * $pt solid $colour_main;
    border-right: 0.4 * $pt solid $colour_main;
    border-bottom-right-radius: 2 * $pt;
    margin-bottom: -0.4*$pt;

    td:last-child & {
      border-right: 0 none;
    }
  }

  &.field__box--border_right {
    border-bottom: 0 none;
    margin-bottom: 0;
    border-right: 0.4 * $pt solid $colour_main;
    margin-right: -0.4 * $pt;

    td:last-child & {
      border-right: 0 none;
      margin-right: 0;
    }
  }

  .field--ref & {
    border-bottom: 0.75 * $pt dashed $colour_main;
    margin-bottom: -0.75 * $pt;
    &.field__box--border_full {
      border: 0.75 * $pt dashed $colour_main;
      margin: -0.75 & $pt 0;
    }
  }

  &.field__box--border_none {
    border: 0 none;
    margin: 0;
  }
}

article header .field__box {
  border-bottom-width: 0.5 * $pt;
  margin-bottom: -0.5 * $pt;
}

.field__control {
  u {
    font-size: 1rem;
    font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
    font-weight: 900;
    color: $colour_main;
    opacity: 0.2;
  }

  &--control_checkbox,
  &--control_checkgrid {
    align-items: center;
    justify-content: center;

    input[type="checkbox"] {
      display: none;

      + label {
        background: white;
        border: 0.5pt solid $colour_main;
        width: 4 * $pt;
        height: 4 * $pt;
      }

      &:checked + label {
        background: $colour_main;
      }
    }

    &.field__control--style_progress {
      input[type="checkbox"] {
        + label {
          border: 0 none;
          background-color: transparent;
          background-image: url('{{{dataurl "images/checkbox-progress.svg"}}}');
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: center;
          height: 6 * $pt;
          width: 6.2 * $pt;
        }

        &:checked + label {
          background-image: url('{{{dataurl "images/checkbox-progress-checked.svg"}}}');
        }
      }
    }
  }

  &--control_radio {
    align-items: center;
    justify-content: center;

    input[type="radio"] {
      display: none;

      + label {
        background: white;
        border: 0.5pt solid $colour_main;
        width: 5pt;
        height: 5pt;
        border-radius: 50%;
      }

      &:checked + label {
        background: $colour_main;
      }
    }
  }

  &--control_value {
    text-align: center;
    @include headerfont;

    span {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.field--size_gargantuan input {
  color: --c-accent;
  font-size: 2rem;
  line-height: 2.6rem;
}

.field__box label.field__separator {
  margin-left: 2 * $pt;
  &:after {
    content: "\0203A";
  }
}

.field.field--control_alignment {
  $size: 4.5rem;
  $inner-size: 2.9rem;
  $padding: ($size - $inner-size) / 2;

  width: $size;

  .field__frame {
    display: block;
    position: relative;
    width: $size;
    height: $size;
  }

  .field__grid {
    position: absolute;

    background-image: url('{{{dataurl "images/alignment-grid.svg"}}}');
    background-position: center;
    background-size: 100% 100%;

    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;

    z-index: 2;
    top: $padding;
    left: $padding;
    width: $inner-size;
    height: $inner-size;
  }

  label.field__good,
  label.field__evil,
  label.field__lawful,
  label.field__chaotic {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-transform: uppercase;
    font-size: 0.55rem;
    color: $colour_dark;
    text-align: center;
    z-index: 6;
  }

  label.field__good {
    transform: rotate(-45deg) translate(-1.05rem, -0.25rem);
  }

  label.field__evil {
    transform: rotate(-45deg) translate(-1.05rem, 2.45rem);
  }

  label.field__lawful {
    transform: rotate(45deg) translate(1.1rem, -0.3rem);
  }

  label.field__chaotic {
    transform: rotate(45deg) translate(1.1rem, 2.4rem);
  }

  i.icon_good,
  i.icon_evil,
  i.icon_lawful,
  i.icon_chaotic {
    position: absolute;
    z-index: 4;
    width: 0.6cm;
    height: 0.6cm;
    opacity: 0.2;
    background-size: 100% 100%;

    -webkit-print-color-adjust: exact;
    color-adjust: exact !important;
  }

  i.icon_good {
    top: 0;
    left: 0;
  }
  i.icon_evil {
    bottom: 0;
    right: 0;
  }
  i.icon_lawful {
    top: 0;
    right: 0;
  }
  i.icon_chaotic {
    bottom: 0;
    left: 0;
  }

  .field__control {
    display: none;
  }
}

.field.field--control_money {
  $digit: 0.885rem;
  width: auto;

  + .field.field--control_money {
    // margin-top: -2 * $pt;

    .field__box {
      border-top: 0 none;
      margin-top: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  .field__box {
    border-bottom: 0.5 * $pt solid $colour_main;
    margin-bottom: -0.5 * $pt;
    justify-content: flex-end;

    &.field__box--border_full {
      border-bottom-width: 0.75 * $pt;
      margin-bottom: -0.75 * $pt;

      .field__overlay {
        margin-right: -0.75 * $pt;
      }
    }
  }

  .field__control {
    position: relative;
    flex: 0 0 auto;
  }

  input {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    letter-spacing: 2.8pt;
    text-align: right;
    max-width: none;
    padding-right: 0;
    margin-right: -2 * $pt;
  }

  .field__overlay {
    min-width: 2rem;
    padding-right: 0;
    text-align: center;
  }

  .field__tick {
    position: absolute;
    top: auto;
    bottom: 0;
    height: 1.5rem;
    line-height: 1.5rem;
    border-right: $pt solid $colour_light;
    // margin-right: -$pt;
  }

  @for $i from 1 through 10 {
    .field__control--digits_#{$i} {
      width: 0.4rem + $digit * $i;
    }

    // .field__tick-#{$i} { left: 0.25rem+$digit*$i; }
    .field__tick-#{$i} {
      right: $digit * $i - 0.1rem;
    }
  }

  .field__shift {
    display: inline-block;
    background: $colour_light;
    height: 1.5rem;
  }

  @for $i from 1 through 4 {
    .field__shift--shift_#{$i} {
      width: $digit * $i;
    }
  }
}

.field.field--control_boost {
  $icon-size: 1.3rem;
  $icon-width: 0.8rem;

  .field__box {
    justify-content: center;
  }

  .field__control {
    width: $icon-width;
    flex: 0 0 auto;

    input[type="checkbox"] {
      display: none;

      + label {
        display: inline-block;
        width: $icon-width;
        height: $icon-size;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

  .field__control--boost_up {
    label {
      position: relative;
      top: -0.25rem;
      background-image: url('{{{dataurl "images/icon-boost-up.svg"}}}');
    }
    input[type="checkbox"]:checked + label {
      background-image: url('{{{dataurl "images/icon-boost-up-checked.svg"}}}');
    }
  }

  .field__control--boost_down {
    label {
      position: relative;
      top: 0.25rem;
      background-image: url('{{{dataurl "images/icon-boost-down.svg"}}}');
    }
    input[type="checkbox"]:checked + label {
      background-image: url('{{{dataurl "images/icon-boost-down-checked.svg"}}}');
    }
  }

  .field__control--boost_down + .field__control--boost_up {
    margin-left: -0.2rem;
  }
}

// Make special spells stand out
.layout.layout--layout_spells-list, .layout.layout--layout_2e {
  .field.field--frame_annotation {
    .field__box {
      margin-left: -2 * $pt;
      padding-left: 2 * $pt;
      margin-top: -$pt;
      border-left: 0.4 * $pt solid $colour_dark;
      border-right: 0.4 * $pt solid $colour_dark;
    }
    label {
      right: 2 * $pt;
      color: $colour_light;
    }
  }
}
