/* Icons */

// $icon_size: 1.5rem;
// $icon_size_padded: 1.6rem;

// $icon_size_small: 1.1rem;
$icon_size_action2: 1.5 * 1.2rem;
$icon_size_action3: 2 * 1.2rem;

@mixin icon($icon) {
  background-image: url('{{{dataurl "images/icon-#{$icon}.svg"}}}');
}

@mixin icon-colourful($icon, $colour) {
  html.html--colourful .row--calc.row--colour_#{$colour} .field &,
  html.html--colourful tr.tr--colour_#{$colour} .field &,
  html.html--colourful .field.field--colour_#{$colour} & {
    background-image: url('{{{dataurl-colourful "images/icon-#{$icon}.svg" "#{$colour}"}}}');
  }
}

@mixin icon-colourful-all($icon) {
  @include icon($icon);
  @include icon-colourful($icon, 'STR');
  @include icon-colourful($icon, 'DEX');
  @include icon-colourful($icon, 'CON');
  @include icon-colourful($icon, 'INT');
  @include icon-colourful($icon, 'WIS');
  @include icon-colourful($icon, 'CHA');
}

i.icon {
  &.icon_action {
    @include icon("action");
  }

  &.icon_action2 {
    @include icon("action2");
  }

  &.icon_action2nd {
    @include icon("action2nd");
  }

  &.icon_action3 {
    @include icon("action3");
  }

  &.icon_action13 {
    @include icon("action13");
  }

  &.icon_action3rd {
    @include icon("action3rd");
  }

  &.icon_reaction {
    @include icon("reaction");
  }
  &.icon_free-action {
    @include icon("free-action");
  }
  &.icon_action-kingdom {
    @include icon("action-kingdom");
  }

  &.icon_action-template {
    @include icon("action-template");
  }

  &.icon_action2, &.icon_action2nd {
    width: $icon_size_action2;

    &.size_large {
      &, .page.page--flex .page__contents & {
        width: $icon_size_action2 * 1.5;
      }
    }
  }

  &.icon_action3, &.icon_action13, &.icon_action3rd, &.icon_action-template {
    width: $icon_size_action3;

    &.size_large {
      &, .page.page--flex .page__contents & {
        width: $icon_size_action3 * 1.5;
      }
    }
  }

  &.icon_bonus,
  &.icon_d20 {
    @include icon("d20");
  }

  &.icon_dc {
    @include icon("dc");
    margin-right: -0.5rem;
  }
  &.icon_armour {
    @include icon("armour");
    @include icon-colourful("armour", "DEX");
  }
  &.icon_shield {
    @include icon("shield");
    @include icon-colourful("shield", "DEX");
  }
  &.icon_shield-o {
    @include icon("shield-o");
    @include icon-colourful("shield-o", "DEX");
  }
  &.icon_ac {
    @include icon("shield");
    @include icon-colourful("shield", "DEX");
  }
  &.icon_tac {
    @include icon("tac");
  }

  &.icon_up-arrow {
    @include icon("up-arrow");
  }

  &.icon_gender {
    @include icon("gender");
  }
  &.icon_hex {
    @include icon("hex");
  }
  &.icon_hp {
    @include icon("hp");
    @include icon-colourful("hp", "CON");
  }
  &.icon_hp-o {
    @include icon("hp-o");
    @include icon-colourful("hp-o", "CON");
  }
  &.icon_damage,
  &.icon_d6 {
    @include icon("d6");
  }
  &.icon_d4 {
    @include icon("d4");
  }
  &.icon_d8 {
    @include icon("d8");
  }
  &.icon_d10 {
    @include icon("d10");
  }
  &.icon_d12 {
    @include icon("d12");
  }
  &.icon_d20 {
    @include icon("d20");
  }
  &.icon_size {
    @include icon("size");
  }

  &.icon_good {
    @include icon("good");
  }
  &.icon_evil {
    @include icon("evil");
    @include icon-colourful("evil", "CON");
  }
  &.icon_lawful {
    @include icon("lawful");
  }
  &.icon_chaotic {
    @include icon("chaotic");
  }
  // &.icon_neutral {
  //   @include icon("neutral");
  // }

  &.icon_sword {
    @include icon("sword");
  }
  &.icon_bow {
    @include icon("bow");
  }
  &.icon_quality {
    @include icon("quality");
  }
  &.icon_potency {
    @include icon("potency");
  }
  &.icon_runes, &.icon_counter-0 {
    @include icon("runes");
  }
  &.icon_runes-1, &.icon_counter-1 {
    @include icon("runes-1");
  }
  &.icon_runes-2, &.icon_counter-2 {
    @include icon("runes-2");
  }
  &.icon_runes-3, &.icon_counter-3 {
    @include icon("runes-3");
  }

  &.icon_tick {
    @include icon("tick");
  }

  &.icon_book {
    @include icon("book");
  }

  &.icon_save-crit-succeed {
    @include icon("save-crit-succeed");
  }
  &.icon_save-succeed {
    @include icon("save-succeed");
  }
  &.icon_save-fail {
    @include icon("save-fail");
  }
  &.icon_save-crit-fail {
    @include icon("save-crit-fail");
  }
}

i.mark {
  &.icon_armour {
    @include icon("armour");
  }

  &.icon_shield {
    @include icon("shield");
  }

  &.icon_hp {
    @include icon("hp");
  }

  &.icon_sword {
    @include icon("sword");
  }

  &.icon_action {
    @include icon("action");
  }

  &.icon_scroll {
    @include icon("scroll");
  }

  &.icon_potion {
    @include icon("potion");
  }
}

.hr--swash .inner {
  @include icon("d20");
}

/* Proficiency */

.field--control_proficiency .field__control--control_icon i,
.field--icon_proficiency i,
i.icon_proficiency,
i.icon--icon_proficiency,
.icon.icon_proficiency-untrained {
  @include icon-colourful-all('proficiency');
  // background-image: url('{{{dataurl "images/icon-proficiency.svg"}}}');
}

.icon.icon_proficiency-trained, .field--control_proficiency .icon.icon_proficiency-trained {
  // background-image: url('{{{dataurl "images/icon-proficiency-trained.svg"}}}');
  @include icon-colourful-all('proficiency-trained');
}
.icon.icon_proficiency-expert, .field--control_proficiency .icon.icon_proficiency-expert {
  // background-image: url('{{{dataurl "images/icon-proficiency-expert.svg"}}}');
  @include icon-colourful-all('proficiency-expert');
}
.icon.icon_proficiency-master, .field--control_proficiency .icon.icon_proficiency-master {
  // background-image: url('{{{dataurl "images/icon-proficiency-master.svg"}}}');
  @include icon-colourful-all('proficiency-master');
}
.icon.icon_proficiency-legendary, .field--control_proficiency .icon.icon_proficiency-legendary {
  // background-image: url('{{{dataurl "images/icon-proficiency-legendary.svg"}}}');
  @include icon-colourful-all('proficiency-legendary');
}

.field--control_proficiency .field__control--control_icon {
  .field--proficiency__trained:checked ~ i.field--proficiency__icon {
    @extend .icon.icon_proficiency-trained;
  }
  .field--proficiency__expert:checked ~ i.field--proficiency__icon {
    @extend .icon.icon_proficiency-expert;
  }
  .field--proficiency__master:checked ~ i.field--proficiency__icon {
    @extend .icon.icon_proficiency-master;
  }
  .field--proficiency__legendary:checked ~ i.field--proficiency__icon {
    @extend .icon.icon_proficiency-legendary;
  }
}

/* Classes */

.class-icon.icon_box {
  width: 6rem;
  height: 6rem;
  margin-left: auto;
  margin-right: auto;
  flex: 0 0 auto;

  border: 1px solid $colour_light;
  background: rgba(255, 255, 255, 0.5);
}
