/* Icons */

// $icon_size: 1.5rem;
// $icon_size_padded: 1.6rem;

// $icon_size_small: 1.1rem;
$icon_size_action2: 1.5 * 1.3rem;
$icon_size_action3: 2 * 1.3rem;

@mixin icon($icon) {
  background-image: url('{{{dataurl "images/icon-#{$icon}.svg"}}}');
}

i.icon {
  &.icon_action {
    @include icon("action");
  }

  &.icon_action2 {
    @include icon("action2");
  }

  &.icon_action2nd {
    @include icon("action2nd");
  }

  &.icon_action3 {
    @include icon("action3");
  }

  &.icon_action13 {
    @include icon("action13");
  }

  &.icon_action3rd {
    @include icon("action3rd");
  }

  &.icon_reaction {
    @include icon("reaction");
  }
  &.icon_free-action {
    @include icon("free-action");
  }

  &.icon_action-template {
    @include icon("action-template");
  }

  &.icon_action2, &.icon_action2nd {
    width: $icon_size_action2;

    &.size_large {
      &, .page.page--flex .page__contents & {
        width: $icon_size_action2 * 1.5;
      }
    }
  }

  &.icon_action3, &.icon_action13, &.icon_action3rd, &.icon_action-template {
    width: $icon_size_action3;

    &.size_large {
      &, .page.page--flex .page__contents & {
        width: $icon_size_action3 * 1.5;
      }
    }
  }

  &.icon_bonus,
  &.icon_d20 {
    @include icon("d20");
  }

  &.icon_dc {
    @include icon("dc");
    margin-right: -0.5rem;
  }
  &.icon_armour {
    @include icon("armour");
  }
  &.icon_shield {
    @include icon("shield");
  }
  &.icon_shield-o {
    @include icon("shield-o");
  }
  &.icon_ac {
    @include icon("shield");
  }
  &.icon_tac {
    @include icon("tac");
  }

  &.icon_up-arrow {
    @include icon("up-arrow");
  }

  &.icon_gender {
    @include icon("gender");
  }
  &.icon_hp {
    @include icon("hp");
  }
  &.icon_hp-o {
    @include icon("hp-o");
  }
  &.icon_damage,
  &.icon_d6 {
    @include icon("damage");
  }
  &.icon_size {
    @include icon("size");
  }

  &.icon_good {
    @include icon("good");
  }
  &.icon_evil {
    @include icon("evil");
  }
  &.icon_lawful {
    @include icon("lawful");
  }
  &.icon_chaotic {
    @include icon("chaotic");
  }

  &.icon_sword {
    @include icon("sword");
  }
  &.icon_bow {
    @include icon("bow");
  }
  &.icon_quality {
    @include icon("quality");
  }
  &.icon_potency {
    @include icon("potency");
  }
  &.icon_runes {
    @include icon("runes");
  }
  &.icon_runes1 {
    @include icon("runes1");
  }
  &.icon_runes2 {
    @include icon("runes2");
  }
  &.icon_runes3 {
    @include icon("runes3");
  }

  &.icon_tick {
    @include icon("tick");
  }

  &.icon_book {
    @include icon("book");
  }

  &.icon_save-crit-succeed {
    @include icon("save-crit-succeed");
  }
  &.icon_save-succeed {
    @include icon("save-succeed");
  }
  &.icon_save-fail {
    @include icon("save-fail");
  }
  &.icon_save-crit-fail {
    @include icon("save-crit-fail");
  }
}

i.mark {
  &.icon_armour {
    @include icon("armour");
  }

  &.icon_shield {
    @include icon("shield");
  }

  &.icon_hp {
    @include icon("hp");
  }

  &.icon_sword {
    @include icon("sword");
  }

  &.icon_action {
    @include icon("action");
  }

  &.icon_scroll {
    @include icon("scroll");
  }

  &.icon_potion {
    @include icon("potion");
  }
}

.hr--swash .inner {
  @include icon("d20");
}

/* Proficiency */

.field--control_proficiency .field__control--control_icon i,
.field--icon_proficiency i,
i.icon_proficiency,
i.icon--icon_proficiency,
.icon.icon_proficiency-untrained {
  background-image: url('{{{dataurl "images/icon-proficiency.svg"}}}');
}

.icon.icon_proficiency-trained {
  background-image: url('{{{dataurl "images/icon-proficiency-trained.svg"}}}');
}
.icon.icon_proficiency-expert {
  background-image: url('{{{dataurl "images/icon-proficiency-expert.svg"}}}');
}
.icon.icon_proficiency-master {
  background-image: url('{{{dataurl "images/icon-proficiency-master.svg"}}}');
}
.icon.icon_proficiency-legendary {
  background-image: url('{{{dataurl "images/icon-proficiency-legendary.svg"}}}');
}

.field--control_proficiency .field__control--control_icon {
  .field--proficiency__trained:checked ~ i.field--proficiency__icon {
    @extend .icon.icon_proficiency-trained;
  }
  .field--proficiency__expert:checked ~ i.field--proficiency__icon {
    @extend .icon.icon_proficiency-expert;
  }
  .field--proficiency__master:checked ~ i.field--proficiency__icon {
    @extend .icon.icon_proficiency-master;
  }
  .field--proficiency__legendary:checked ~ i.field--proficiency__icon {
    @extend .icon.icon_proficiency-legendary;
  }
}

/* Classes */

.class-icon.icon_box {
  width: 6rem;
  height: 6rem;
  margin-left: auto;
  margin-right: auto;
  flex: 0 0 auto;

  border: 1px solid $colour_light;
  background: rgba(255, 255, 255, 0.5);
}
