/**
 * Copyright 2025 Marcus Downing
 * This file is compliant with the Open Game License (OGL).
 * See the text of the OGL within this repository.
 */

.embed {
  &--src_settlement {
    width: 195mm;
    height: 195mm;
    background-image: url('{{{dataurl "images/settlement.svg"}}}');

    label.embed__label--label_village {
      top: 1.9%;
      right: 66.5%;
    }
    label.embed__label--label_town {
      top: 1.9%;
      right: 39.3%;
    }
    label.embed__label--label_city {
      top: 1.9%;
      right: 12%;
    }

    label.embed__label--label_village-l {
      left: 0%;
      bottom: 68.5%;
    }
    label.embed__label--label_town-l {
      left: 0.6%;
      bottom: 40.5%;
    }
    label.embed__label--label_city-l {
      left: 1.2%;
      bottom: 13%;
    }

    .embed__inner {
      position: absolute;

      &.embed__inner-1 {
        top: 5.3%;
        left: 25.4%;
        right: 22.1%;
      }

      &.embed__inner-2 {
        top: 78.4%;
        left: 5.8%;
        right: 42%;

        > .row {
          transform: rotate(-90deg); // translate(-0.3rem, -0.8rem);
          transform-origin: top left;
        }
      }

      &.embed__inner-3 {
        bottom: 1.9%;
        left: 25.4%;
        right: 22.1%;
      }

      &.embed__inner-4 {
        top: 78.3%;
        right: 2%;
        left: 45.5%;

        > .row {
          transform: rotate(90deg); // translate(-0.3rem, -0.8rem);
          transform-origin: top right;
        }
      }
    }

  }
}
