#spotlight {
  position: absolute;
  z-index: 90;
  border-radius: 1rem;
  pointer-events: none;
  transition: box-shadow 0.5s;

  &.spotlight--show {
    box-shadow: 0 0 999rem 999rem rgba(0,0,0,0.4), inset 0 0 0.2rem 0.2rem rgba(0,0,0,0.4);
  }
}
