.row {
  display: flex;
  flex-direction: row;
}

.box {
  flex: 1 1 auto;
  display: inline-block;
  color-adjust: exact;

  width: 16em;
  height: 10em;
  margin: 1em;
  padding: 1em;
}

#box-1 {
  background: black;
  color: #ffffff;
}
