article {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;

  padding: $pt 2 * $pt;
  @include elementMargin;

  header {
    flex: 0 0 auto;
    .field {
      .field__inner {
        border-bottom-width: $pt;
      }
    }

    > .row {
      h6 {
        line-height: 1.7rem;
      }
    }
  }

  > .g {
    flex: 0 0 auto;
    > .field:last-child {
      margin-bottom: 0;

      .field__inner:last-child {
        border-bottom: 0 none;
      }
    }

    p,
    dl,
    ul {
      margin: $pt 0;
    }
  }

  .field,
  .calc,
  .row {
    margin-top: 0;
    margin-bottom: 0;
  }

  .article__annotation {
    position: absolute;
    top: 0;
    right: 0;

    font-size: 0.7rem;
  }
}

.list article {
  padding: 0;
}
