article {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    
    padding: 1pt 2pt;

    header {
        .field {
            .field__inner {
                border-bottom-width: 1pt;
            }
        }
    }

    > .g {
        flex: 0 0 auto;
        > .field:last-child {
            margin-bottom: 0;

            .field__inner:last-child {
                border-bottom: 0 none;
            }
        }
    }

    .field, .calc, .row {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.list article {
    padding: 0;
}
