// A block has flexible margin before and after
.blk {
  margin: 0;

  &:before, &:after {
    content: "";
    display: block;
    overflow: hidden;
    flex: 2 10 0.2rem;
    width: 0.2rem;
    height: 0.2rem;
  }

  // Collapse margin between two blocks
  + .blk {
    &:before {
      display: none;
    }
  }

  // The first and last blocks within a block don't need another margin
  > .blk, .inner > .blk {
    &:first-child:before, &:last-child:after {
      display: none;
    }
  }
}

// An unblock element removes the margin from its direct children.
.unblk {
  > .blk, > .inner > .blk {
    &:before, &:after {
      //display: none;
      flex-basis: 0;
    }
  }

  &.layout > * > .blk {
    &:first-child:before, &:last-child:after {
      flex-basis: 0;
    }
  }
}

// avoid double block borders on calculations
.row.blk .row.blk {
  &:before, &:after {
    display: none;
  }
}
