.box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  padding: 0.3rem;
  margin: 0 -0.2rem;

  > *:first-child {
    &:before {
      display: none;
    }
  }

  > *:last-child {
    &:after {
      display: none;
    }
  }
}
