/* Calculations */

.calc {
  // @include elementMargin;
  border: 0 none;
  padding: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;

  white-space: nowrap;
  $height: 1.6rem;

  > * {
    flex: 0 1 auto;
    display: inline-block;
    margin: 0 2 * $pt 0 0;
  }

  > *:first-child {
    margin-left: 0;
  }

  > span {
    @include inlineMargin;
    font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 1.3rem;
    display: inline-block;
    height: $height;
    line-height: $height;
  }

  &.calc--inline {
    label {
      top: auto;
      bottom: $pt;
    }
    .field__inner {
      border: 0 none !important;
    }
    input,
    output {
      visibility: hidden;
    }
  }
}

.calc--2-lines .field,
.row--2-lines .field {
  padding-top: 2rem;
}
