.class-icon {
	flex: 0 0 auto;
  height: 4.8rem;
  min-width: 4.8rem;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
  margin-bottom: 0.7rem;
  
  &.class-icon--size_small {
    height: 3rem;
    min-width: 3.5rem;

    .row > .row__inner > & {
      margin-bottom: -0.3rem;
    }
  }
}
