.class-icon {
	flex: 0 0 auto;
  height: 4.8rem;
  min-width: 4.8rem;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
  // margin-bottom: 0.7rem;

  &:after {
    content: "";
    display: block;
    flex: 0 1 0.7rem;
    min-height: 0.1rem;
  }
  
  &.size_small {
    height: 3rem;
    min-width: 3.5rem;

    .row > .row__inner > & {
      margin-bottom: -0.3rem;
    }
  }

  &.size_tiny {
    height: 1.8rem;
    min-width: 1.8rem;
  }

  &.size_large {
    height: 6rem;
    min-width: 6rem;
  }
}

.class-name {
  &:after {
    content: "";
    display: block;
    flex: 0 1 1rem;
    min-height: 0.1rem;
  }
}
