$pt: 0.1rem;
$hr: 0.15rem;

.align_left {
  text-align: left;

  label,
  input,
  output {
    text-align: left !important;
  }
}

.align_right {
  text-align: right;

  label,
  input,
  output {
    text-align: right !important;
  }
}

.align_center {
  text-align: center;

  label,
  input,
  output {
    text-align: center !important;
  }
}

@mixin elementMargin {
  margin: 0.15rem 0 0.15rem 0;

  // .section__inner &:first-child {
  //   margin-top: 0;
  // }

  // .section:last-child .section__inner &:last-child, .layout:last-child > &, .layout > .g > &:last-child {
  //   margin-bottom: 0;
  // }
}

@mixin inlineMargin {
  margin: 0 0.25rem 0 0;
}
