
.align_left {
    text-align: left;

    label, input, output {
        text-align: left !important;
    }
}

.align_right {
    text-align: right;
    
    label, input, output {
        text-align: right !important;
    }
}

.align_center {
    text-align: center;
    
    label, input, output {
        text-align: center !important;
    }
}