dl {
  display: block;

  &.dl--div {
    div {
      display: block;
      padding-left: 1rem;
      &:first-line {
        text-indent: -1rem;
      }
    }
  }

  div {
    display: inline;
  }

  dt {
    display: inline;
    font-weight: bold;
    white-space: nowrap;
  }

  dd {
    display: inline;
    margin-left: 3*$pt;
    margin-right: 5*$pt;
  }
}
