dl {
  display: block;
  font-size: 0.9rem;
  line-height: 1.1rem;
  flex: 1 0 auto;

  &.dl--div {
    display: flex;
    flex-direction: column;

    div {
      display: block;
      flex: 1 0 auto;
      padding-left: 1rem;
      &:first-line {
        text-indent: -1rem;
      }
    }
  }

  div {
    display: inline;
  }

  dt {
    display: inline;
    font-weight: bold;
    white-space: nowrap;
    font-size: 1rem;
  }

  dd {
    display: inline;
    margin-left: 3*$pt;
    margin-right: 5*$pt;
  }
}
