* {
	-webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
  
}

body {
	margin: 0;
}

.skip-link {
	display: none;
}

*::selection {
  background: --c-accent;
  color: white;
}
*::-moz-selection {
  background: --c-accent;
  color: white;
}
