.embed {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;

  .embed__inner, .embed__reverse, .embed__base, .embed__base-reverse {
    position: absolute;
    display: flex;
    flex-direction: column;
  }

  .embed__reverse, .embed__base-reverse {
    transform: rotate(180deg);
  }
}
