.field {
    &--frame_none {
        padding: 0;
    }

    &--labelHeight_0 {
        padding-top: 0;
    }

    &--labelHeight_1 {
	    padding-top: 0.9rem;
    }

    &--labelHeight_2 {
        padding-top: 1.8rem;
    }

    &--labelHeight_3 {
        padding-top: 2.7rem;
    }

    &--frame_left {
        text-align: right;
    }

    &--frame_right, &--frame_left {
        margin: 0;
        padding: 0;
        .field__inner {
            display: inline-block;
            margin: 0 4pt;
        }
        label {
            position: static;
            display: inline-block;
            font-size: 0.85rem;
        }
    }

    &--frame_h-label {
        padding: 0 0 0 3pt;

        .field__inner {
            padding-left: 5pt;
        }

        label {
            left: -2pt;
            top: 0;
            bottom: 0;
            right: auto;

            font-size: 0.55rem;
            writing-mode: vertical-lr;
            transform: rotate(180deg);
        }
    }

    $shift: 0.9rem;
    &--shift_1 { padding-right: $shift; }
    &--shift_2 { padding-right: $shift*2; }
    &--shift_3 { padding-right: $shift*3; }
    &--shift_4 { padding-right: $shift*4; }
    &--shift_5 { padding-right: $shift*5; }
}
