.field--control_proficiency {
  .icon.field--control_proficiency__icon {
    cursor: pointer;
  }
  
  .field--proficiency__rank {
    display: none;
  }
}


#proficiency-menu {
  $bgcolour: rgba(64,64,64,0.75);
  $textcolour: rgb(64,64,64);
  $fillcolour: rgba(250,250,250,0.75);
  $shadowcolour: rgba(0,0,0,0.6);

  display: none;
  position: fixed;
  background: $bgcolour;
  // border: 1px solid $edgecolour;
  box-shadow: 0 6px 12px $shadowcolour;
  border-radius: 6px;
  padding: 6px;
  z-index: 100;

  > div {
    background: $fillcolour;
    padding: 1px 12px 8px 5px;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px $bgcolour;
  }

  &:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 28px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $bgcolour;
  }

  label {
    display: block;
    padding: 2px 0;

    color: $textcolour;
    cursor: pointer;
    text-align: left;
    font-size: 1rem;
  }

  i {
    position: relative;
    top: 3px;
    margin-right: 3px;
  }
}