.field {

  // $lp: 0.95rem;

  // &.lp_0 {
  //   padding-top: 0;
  // }

  // &.lp_1 {
  //   padding-top: $lp;
  // }

  // &.lp_2 {
  //   padding-top: 2 * $lp;
  // }

  // &.lp_3 {
  //   padding-top: 3 * $lp;
  // }

  /* frame= */

  &--frame_none {
    padding: 0;
  }

  &--frame_annotation {
    padding: 0;
    position: relative;

    label.field__annotation {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 0.7rem;
      text-align: right !important;
    }
  }

  &.field--frame_left,
  &.field--frame_right {
    padding-top: 0;
    width: auto;
    // align-items: flex-end;

    .field__frame {
      width: auto;
      // flex: 1 0 auto;
      flex-direction: row;
      justify-content: flex-end;

      legend,
      > label {
        // position: static;
        flex: 10 1 auto;
        min-height: 1.1rem;
        line-height: 1.1rem;
        padding: 0.25rem 0.3rem 0;
      }

      > label {
        font-size: 1rem;
      }
    }

    .field__box {
      flex: 1 0 auto;
    }
  }

  &.field--frame_left {
    legend,
    .field__frame > label {
      text-align: right;
    }
    label {
      margin-right: 0.25rem;
    }
  }

  &.field--frame_right {
    legend,
    .field__frame > label {
      text-align: left;
    }
    label {
      margin-left: 0.25rem;
    }
  }

  &--frame_h-label {
    padding-top: 0;
    padding-left: 0.4rem;

    .field__box {
      padding-left: 0.4rem;
    }

    label {
      position: absolute;
      left: 2 * $pt;
      top: 0;
      width: 2rem;
      transform: rotate(-90deg) translate(-0.3rem, -0.8rem);
      text-align: center;
    }
  }
}

.field__frame {
  > legend {
    line-height: 0.95rem;
    text-align: left;
    padding: 0 0 0.2rem 0;
  }

  > label {
    margin: 0;
    padding: 0 0 0.2rem 0;
    text-align: center;
  }
  .field.field--indent & {
    padding-left: 1rem;
  }
}
