.field__box {
  > label {
    margin: 0 2 * $pt 0 $pt;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.field__control {
  $input-height: 1.5rem;

  height: $input-height;
  padding: 0;

  input {
    width: 1rem;
    height: $input-height;
    line-height: $input-height;
    z-index: 10;
    padding-left: 2 * $pt;
    padding-right: 2 * $pt;
  }

  position: relative;

  u {
    text-decoration: none;

    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    left: 0;
    height: $input-height;
    line-height: $input-height;

    text-align: center;
  }

  &--control_icon {
    width: 1rem;
    min-width: 1rem !important;
    flex: 0 0 auto;
    input[type="checkbox"] {
      display: none;
    }
  }
}

// fields that are all icon get centred; cancel out the effects of --icon
.field.field--control_icon {
  width: 1.6rem;
  label {
    left: 0 !important;
  }
  .field__frame {
    padding-left: 0 !important;
  }
  .field__box {
    padding-left: 0 !important;
    justify-content: center;
  }
  .field__control--control_icon {
    width: 1.3rem;
    margin-left: 0 !important;
    .icon {
      margin-left: 0 !important;
    }
  }
}

.field__control--control_value {
  text-align: center;
  &, span {
    line-height: 1.7rem;
    white-space: nowrap;
  }
}

.field__overlay {
  white-space: nowrap;
  padding-right: 2 * $pt;

  &:first-child {
    padding-left: 2 * $pt;
  }
}

.field__control--control_checkbox {
  width: 1rem;
  flex: 0 0 auto;
}

.field.field--control_checkgrid {
  width: auto !important;
  flex: 0 0 auto !important;
}

.field__control-group--control_checkgrid {
  $control-size: 0.75rem;
  $gutter: 0.1rem;
  
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;

  align-items: flex-start;
  justify-content: center;

  .field__control {
    display: inline-block;
    margin: 0;
    width: $control-size;
    height: $control-size;
    position: relative;
    flex: 0 0 auto;

    input[type="checkbox"] + label {
      position: absolute;
    }
  }

  &--dir-v {
    flex-direction: row;
  }

  &.field__control-group--h_1 {
    height: $gutter + 1 * $control-size;
  }
  &.field__control-group--h_2 {
    height: $gutter + 2 * $control-size;
  }
  &.field__control-group--h_3 {
    height: $gutter + 3 * $control-size;
  }
  &.field__control-group--h_4 {
    height: $gutter + 4 * $control-size;
  }
  &.field__control-group--h_5 {
    height: $gutter + 5 * $control-size;
  }
  &.field__control-group--h_6 {
    height: $gutter + 6 * $control-size;
  }

  &.field__control-group--w_1 {
    width: $gutter + 1 * $control-size;
  }
  &.field__control-group--w_2 {
    width: $gutter + 2 * $control-size;
  }
  &.field__control-group--w_3 {
    width: $gutter + 3 * $control-size;
  }
  &.field__control-group--w_4 {
    width: $gutter + 4 * $control-size;
  }
  &.field__control-group--w_5 {
    width: $gutter + 5 * $control-size;
  }
  &.field__control-group--w_6 {
    width: $gutter + 6 * $control-size;
  }

  &.field__control-group--style_progress {
    $control-size-progress: 1rem;
    
    .field__control {
      width: $control-size-progress;
    }
  
    &.field__control-group--w_1 {
      width: $gutter + 1 * $control-size-progress;
    }
    &.field__control-group--w_2 {
      width: $gutter + 2 * $control-size-progress;
    }
    &.field__control-group--w_3 {
      width: $gutter + 3 * $control-size-progress;
    }
    &.field__control-group--w_4 {
      width: $gutter + 4 * $control-size-progress;
    }
    &.field__control-group--w_5 {
      width: $gutter + 5 * $control-size-progress;
    }
    &.field__control-group--w_6 {
      width: $gutter + 6 * $control-size-progress;
    }
  }
}

