.field {
  legend {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 9.5pt;
    text-align: left;
    padding: 0;
  }

  > label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  &.lp_0 {
    padding-top: 0;
  }

  &.lp_1 {
    padding-top: 0.9rem;
  }

  &.lp_2 {
    padding-top: 1.8rem;
  }

  &.lp_3 {
    padding-top: 2.7rem;
  }

  /* frame= */

  &--frame_none {
    padding: 0;
  }

  &--frame_annotation {
    padding: 0;
    position: relative;

    label {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 0.7rem;
      text-align: right !important;
    }
  }

  &.field--frame_left,
  &.field--frame_right {
    padding-top: 0;
    width: auto;
    align-items: flex-end;

    legend,
    > label {
      position: static;
      flex: 10 1 auto;
      height: 1.5rem;
      line-height: 1.5rem;
    }

    > label {
      font-size: 0.9rem;
    }
  }

  &.field--frame_left {
    legend,
    > label {
      text-align: right;
      margin-right: 5pt;
    }
  }

  &.field--frame_right {
    legend,
    > label {
      text-align: left;
      margin-left: 5pt;
    }
  }

  &--frame_h-label {
    padding-top: 0;
    padding-left: 4pt;

    .field__box {
      padding-left: 4pt;
    }

    label {
      left: 2pt;
      top: 0;
      width: 2rem;
      transform: rotate(-90deg) translate(-0.3rem, -0.8rem);
      text-align: center;
    }
  }
}

.field__frame {
}
