.field__box {
  > label {
    margin: 0 2 * $pt 0 $pt;
    font-size: 1rem;
    line-height: 1.5rem;
    white-space: nowrap;
  }
}

.field__control {
  $input-height: 1.5rem;

  height: $input-height;
  padding: 0;

  input {
    width: 1rem;
    height: $input-height;
    line-height: $input-height;
    z-index: 10;
    padding: 0 2 * $pt;
  }

  position: relative;

  u {
    text-decoration: none;

    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    left: 0;
    height: $input-height;
    line-height: $input-height;

    text-align: center;
  }

  &--control_icon {
    width: 1rem;
    min-width: 1rem !important;
    flex: 0 0 auto;
    input[type="checkbox"] {
      display: none;
    }
  }
}

.field--control_enum__options {
  display: none;
}

// fields that are all icon get centred; cancel out the effects of --icon
.field.field--control_icon {
  width: 1.6rem;
  label {
    left: 0 !important;
  }
  .field__frame {
    padding-left: 0 !important;
  }
  .field__box {
    padding-left: 0 !important;
    justify-content: center;
  }
  .field__control--control_icon {
    width: 1.3rem;
    margin-left: 0 !important;
    .icon {
      margin-left: 0 !important;
    }
  }
}

.field__control--control_value {
  text-align: center;
  &, span {
    line-height: 1.7rem;
    white-space: nowrap;
  }
}

.field.field--control_p {
  .field__control {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    cursor: text;
    height: auto;
    
    .p {
      flex: 0 0 50%;
      line-height: 1.2rem;

      &:first-line {
        line-height: 1.4rem;
      }

      .p__inner {
        display: block;
        margin-right: -100%;
      }

      .p__title {
        font-weight: bold;
        font-size: 1rem;
        display: inline;
        padding-right: 0.5rem;
        margin-right: 0;
        caret-color: black;
        -moz-user-select: text;

        &:empty {
          display: inline-block;
          border-bottom: 1.5*$pt solid #808080;
          padding-right: 4rem;
          line-height: 1.4rem;
        }
      }

      .p__body {
        display: inline;
        padding-right: 0.5rem;
        caret-color: black;
        min-height: 1.4rem;
        -moz-user-select: text;

        &:empty {
          display: inline-block;
          padding-right: 2rem;
          border-bottom: $pt solid #808080;
          line-height: 1.4rem;
        }
      }
    }

    .p-spacer {
      flex: 0 0 50%;
      opacity: 0;
      transition: opacity 0.2s linear;
      pointer-events: none;

      .p-spacer__line {
        margin-left: -100%;
        height: 1.4rem;
        border-bottom: $pt solid #808080;

        &:last-child {
          border-bottom: none;
        }
      }
    }

    &.field__control--empty {
      .p-spacer {
        opacity: 1;
      }
    }

    &.field__control--lines_1 {
      .p__body:empty {
        border-bottom: 0 none;
      }
    }
  }

  &.size_large {
    font-size: 1.1rem;
  }

  &.size_huge {
    font-size: 1.2rem;
  }

  &.size_gargantuan {
    font-size: 1.5rem;
  }
}

.field__control--control_hidden {
  display: none;
}

.field__overlay {
  white-space: nowrap;
  padding-right: 2 * $pt;

  &:first-child {
    padding-left: 2 * $pt;
  }
}

.field__control--control_checkbox {
  width: 1rem;
  flex: 0 0 auto;
}

.field.field--control_checkgrid {
  width: auto !important;
  flex: 0 0 auto !important;
}

.field__control-group--control_checkgrid {
  $control-size: 0.75rem;
  $gutter: 0.1rem;
  
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;

  align-items: flex-start;
  justify-content: center;

  .field__control {
    display: inline-block;
    margin: 0;
    width: $control-size;
    height: $control-size;
    position: relative;
    flex: 0 0 auto;

    input[type="checkbox"] + label {
      position: absolute;
    }
  }

  &--dir-v {
    flex-direction: row;
  }

  &.field__control-group--h_1 {
    height: $gutter + 1.5 * $control-size;
  }
  &.field__control-group--h_2 {
    height: $gutter + 2 * $control-size;
  }
  &.field__control-group--h_3 {
    height: $gutter + 3 * $control-size;
  }
  &.field__control-group--h_4 {
    height: $gutter + 4 * $control-size;
  }
  &.field__control-group--h_5 {
    height: $gutter + 5 * $control-size;
  }
  &.field__control-group--h_6 {
    height: $gutter + 6 * $control-size;
  }

  &.field__control-group--w_1 {
    width: $gutter + 1 * $control-size;
  }
  &.field__control-group--w_2 {
    width: $gutter + 2 * $control-size;
  }
  &.field__control-group--w_3 {
    width: $gutter + 3 * $control-size;
  }
  &.field__control-group--w_4 {
    width: $gutter + 4 * $control-size;
  }
  &.field__control-group--w_5 {
    width: $gutter + 5 * $control-size;
  }
  &.field__control-group--w_6 {
    width: $gutter + 6 * $control-size;
  }

  &.field__control-group--style_progress {
    $control-size-progress: 1rem;
    
    .field__control {
      width: $control-size-progress;
    }
  
    &.field__control-group--w_1 {
      width: $gutter + 1 * $control-size-progress;
    }
    &.field__control-group--w_2 {
      width: $gutter + 2 * $control-size-progress;
    }
    &.field__control-group--w_3 {
      width: $gutter + 3 * $control-size-progress;
    }
    &.field__control-group--w_4 {
      width: $gutter + 4 * $control-size-progress;
    }
    &.field__control-group--w_5 {
      width: $gutter + 5 * $control-size-progress;
    }
    &.field__control-group--w_6 {
      width: $gutter + 6 * $control-size-progress;
    }
  }
}

.field--control_action-icon i {
  cursor: pointer;
}

input[ref] {
  cursor: pointer;
}

// highlight on double-click
.field .field__box {
  transition: background-color 1.2s linear;
  &.buzz {
    transition: background-color 0.1s;
    background: --c-accent !important;
  }
}
