.field {
    // Alignment
    &--control_alignment {
        .field__inner {
            border: 0 none;
        }
    }

    &--control_radio {

    }

    &--control_checkbox {

	}

	&--control_checkgrid {
		.field__inner {
			border-bottom: 0 none;
		}
		.field__item-group {
			display: inline-flex;
			flex-direction: column;
			flex-wrap: wrap;

			justify-content: center;
			align-items: start;
			margin: -1.2pt 0;

			.field__item {
				display: inline-block;
				margin: 1.4pt;
				width: 4pt;
				height: 4pt;
				position: relative;

				input[type=checkbox] + label {
					position: absolute;
				}
			}


			&--dir-v { flex-direction: row; }

			&--h_1 { height: 10pt; }
			&--h_2 { height: 18pt; }
			&--h_3 { height: 26pt; }
			&--h_4 { height: 34pt; }
			&--h_5 { height: 42pt; }
			&--h_6 { height: 48pt; }

			&--w_1 { width: 10pt; }
			&--w_2 { width: 18pt; }
			&--w_3 { width: 26pt; }
			&--w_4 { width: 34pt; }
			&--w_5 { width: 42pt; }
			&--w_6 { width: 48pt; }
		}
	}

	&--control_money {
		display: block;
		$digit: 9.2pt;

		.field__inner {
			border-right: 0.5pt solid #707070;
			border-bottom: 0.5pt solid #707070;
			border-radius: 2pt;
		}

		.field__item {
			padding-right: 1pt;
		}

		input {
			font-family: 'Courier New', Courier, monospace;
			font-weight: bold;
			letter-spacing: 2.8pt;
			text-align: right;
			max-width: none;
		}

		.field__overlay {
			min-width: 2rem;
		}

		.field__tick {
			position: absolute;
			top: auto;
			bottom: 0;
			height: 8pt;
			line-height: 8pt;
			border-right: 0.5pt solid #808080;
		}

		@for $i from 1 through 10 {
			&.field--digits_#{$i} .field__inner input { width: 5pt+$digit*$i; }
			.field__tick-#{$i} { right: 2.5pt+$digit*$i; }
		}
	}

	&--control_boost {
		.field--control_boost__item--plus {
			input[type=checkbox] + label {
				top: -3pt;
			}
		}
		.field--control_boost__item--minus {
			input[type=checkbox] + label {
				top: +3pt;
			}
		}
	}
	
	&--control_progression {
		.field__inner > * {
			vertical-align: middle;
		}
		.field__separator {
			display: inline-block;
			position: static;
			font-size: 1rem;
			margin: 0 2pt;

			&:after {
				content: "\0203A";
			}
			&:last-child {
				display: none;
			}
		}
	}
}



/* Checkboxes and Radio buttons */

input[type=checkbox] {
	width: 0 !important;
	height: 0 !important;
	visibility: hidden;

	+ label {
		display: inline-block;
		position: relative;

		width: 4pt;
		height: 4pt;
		border: 0.5pt solid #808080;
		background: white;

		cursor: pointer;
	}

	&:checked + label {
		background: #808080;
	}
}

input[type=radio] {
	width: 0 !important;
	height: 0 !important;
	visibility: hidden;

	+ label {
		display: inline-block;
		position: relative;
	
		width: 5pt;
		height: 5pt;
		border-radius: 50%;
		border: 0.5pt solid #808080;
		background: white;
	
		cursor: pointer;
	}
	
	&:checked + label {
		background: #808080;
	}
}
