.page.page--flex {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;

    .page__contents {
        flex: 1 1 auto;
        // width: 100%;
        // height: 100%;

        display: flex;
        flex-direction: column;
        // justify-content: space-between;

        .layout {
            grid-template-rows: 100%;
            flex: 1 1 auto;
            > .g {
                display: flex;
                flex-direction: column;
                // justify-content: space-between;
    
                // &:last-child {
                // 	flex: 0 1 auto;
                // }
            }

            &.layout--no-flex {
                flex: 0 0 auto;
            }
        }
    }

    section, .section__inner, .section__inner > .g, .list, article, article > header, article > .g {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }

    .g {
        display: flex;
        flex-direction: column;
    }

    p {
        // flex: 1 0 auto;
    }

    .row {
        flex: 1 1 auto;
    }

    .flex_small {
        flex: 0.5 1 auto;
    }

    .flex_large {
        flex: 3 1 auto;
    }

    .flex_huge {
        flex: 5 1 auto;
    }

    .flex_gargantuan {
        flex: 10 1 auto;
    }
}