/* Grouping elements */

.g {
	flex: 1 1 auto;
	// display: flex;
	flex-direction: column;
	// align-items: stretch;
	justify-content: space-evenly;

	&.valign_top {
		justify-content: flex-start;
  }
  
  &.g--galign_left {
    align-self: flex-start;
  }
  &.g--galign_center {
    align-self: center;
  }
  &.align_center {
    align-items: center;

    &, > label, p, h5, h6 {
      text-align: center;
    }
  }
}

.pad {
  padding: 2*$pt 0;
}

// span.g, .row .g {
// 	flex-direction: row;
// }
