/* Grouping elements */

.g {
	flex: 1 1 auto;
	// display: flex;
	flex-direction: column;
	// align-items: stretch;
	justify-content: space-evenly;

	&.valign_top {
		justify-content: flex-start;
	}
}

// span.g, .row .g {
// 	flex-direction: row;
// }