/* Grouping elements */

.g {
	flex: 1 1 auto;
	// display: flex;
	flex-direction: column;
	// align-items: stretch;
	justify-content: space-evenly;

	&.valign_top {
		justify-content: flex-start;
  }
  
  &.g--galign_left {
    align-self: flex-start;
  }
  &.g--galign_center {
    align-self: center;
  }
  &.align_center {
    align-items: center;

    &, > label, p, h5, h6 {
      text-align: center;
    }
  }

  $cut_margin: 0.75rem;

  // cut marks
  &.g--cut_left {
    margin-left: -$cut_margin;
    border-left: $hr dotted #a0a0a0;
    padding-left: $cut_margin - $hr;
  }
  &.g--cut_right {
    margin-right: $cut_margin;
    border-right: $hr dotted #a0a0a0;
    padding-right: $cut_margin - $hr;
  }
  &.g--cut_top {
    border-top: $hr dotted #a0a0a0;
    padding-top: $cut_margin - $hr;
  }
}

.pad {
  padding: 2*$pt 0;
}

// span.g, .row .g {
// 	flex-direction: row;
// }
