h1, h2, h3, h4, h5, h6 {
  // @include elementMargin;

  flex: 0 0 auto;
  break-after: avoid;

  + p {
    margin-top: $pt;
  }
}

h1.h1--rotate, h2.h2--rotate, h3.h3--rotate,
h4.h4--rotate, h5.h5--rotate, h6.h6--rotate {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

h6.h6--nowrap {
  white-space: nowrap;
}
