
/* Horizontal divider */

hr {
	margin: 0;
	border: 0 none;
	border-top: 1.5pt solid #a0a0a0;

	&.hr--swash {
		$h: 6mm;

		position: relative;
		height: $h;
		border-top: 0 none;
		// margin: 2pt 0;
		
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 5mm 5mm;
		
		&::before, &::after {
			content: "";
			position: absolute;
			top: $h / 2;
			margin-top: -1pt;
			border-top: 2pt solid #9f9f9f;
			height: 0;
		}

		&::before {
			left: 0;
			right: 50%;
			margin-right: 5mm;
		}
		
		&::after {
			right: 0;
			left: 50%;
			margin-left: 5mm;
		}
	}

	&.hr--narrow {
		margin: 1pt 0;
	}
}