
/* Horizontal divider */

hr {
	margin: 0;
	border: 0 none;
	border-top: $hr solid #a0a0a0;

	&.hr--narrow {
		margin: $pt 0;
  }
  
  &.hr--light {
    border-top: $pt solid #b0b0b0;
  }
}

.hr--swash {
  .inner {
		$h: 6mm;

		position: relative;
		height: $h;
		border-top: 0 none;
		
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 5mm 5mm;
		
		&::before, &::after {
			content: "";
			position: absolute;
			top: $h / 2;
			margin-top: -$pt;
			border-top: 2*$pt solid #9f9f9f;
			height: 0;
		}

		&::before {
			left: 0;
			right: 50%;
			margin-right: 5mm;
		}
		
		&::after {
			right: 0;
			left: 50%;
			margin-left: 5mm;
		}
  }
}

span.vr {
	display: inline-block;
  width: 0;
}
