$icon-size: 1.3rem;
$icon-v-padding: 0.1rem;

$icon-size-small: $icon-size * 0.75;
$icon-size-large: $icon-size * 1.5;
$icon-size-huge: $icon-size * 2.5;
$icon-size-garganguan: $icon-size * 5;

i.icon {
    display: inline-block;
    width: $icon-size;
    flex: 0 0 auto;
    &, .page.page--flex .page__contents & {
      min-height: $icon-size + $icon-v-padding * 2;
      
      &--size_small {
        width: $icon-size-small;
        min-height: $icon-size-small;
      }

      &--size_large {
          width: $icon-size-large;
          min-height: $icon-size-large;
      }

      &--size_huge {
          width: $icon-size-huge;
          min-height: $icon-size-huge;
      }

      &--size_gargantuan {
          width: $icon-size-garganguan;
          min-height: $icon-size-garganguan;
      }
    }
    z-index: 25;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.field {
    &.field--icon {
        > label {
            left: $icon-size / 2;
        }
    
        i.icon:first-child, .field__control--control_icon:first-child {
            margin-left: -1 * $icon-size;
        }
    
        .field__frame {
            padding-left: $icon-size / 2;
        }
        
        .field__box {
            padding-left: $icon-size / 2;
        }
    }
}
