label {
	display: block;
	font-size: 0.65rem;
	text-align: center;
	line-height: 0.85rem;

	&[for] {
		cursor: pointer;
  }
  
  &.label--rotate {
    // left: 2 * $pt;
    // top: 0;
    width: 1rem;
    transform: rotate(-90deg) translate(-0.3rem, -0.8rem);
    text-align: center;
  }
}
