/* Layout */

.layout {
  display: grid;
  grid-gap: 0 1.4rem;
  // @include elementMargin;
  grid-template-rows: 1fr;

  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
  }

  &--gutter_small {
    grid-gap: 0 0.84rem !important;
  }

  &--gutter_tiny {
    grid-gap: 0 0.28rem !important;
  }

  &--gutter_none {
    grid-gap: 0 0 !important;
  }

  &--layout_1n {
    padding: 0 5.6rem;
    grid-template-columns: 1fr;
  }

  &--layout_2e {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a b";
  }

  &--layout_2l {
    grid-template-columns: 5fr 8fr;
    grid-template-areas: "left right";
  }

  &--layout_2ll {
    grid-template-columns: 2fr 9fr;
    grid-template-areas: "left right";
  }

  &--layout_2r {
    grid-template-columns: 8fr 5fr;
    grid-template-areas: "left right";
  }

  &--layout_2rr {
    grid-template-columns: 9fr 2fr;
    grid-template-areas: "left right";
  }

  &--layout_13l {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "left right";
  }

  &--layout_13r {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "left right";
  }

  &--layout_3x3 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "top-left top top-right"
      "left center right"
      "bottom-left bottom bottom-right";
  }

  &--layout_3x2 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "top-left top top-right"
      "bottom-left bottom bottom-right";
  }

  // .page > &:only-child {
  //     grid-template-rows: 100%;
  // }

  // &--layout_2l2r {
  //     grid-template-columns: 5fr 3fr 5fr;
  //     grid-template-rows: auto auto;
  //     grid-template-areas:
  //         "a b b"
  //         "c c d";
  // }

  // &--layout_2r2l {
  //     grid-template-columns: 5fr 3fr 5fr;
  //     grid-template-rows: auto auto;
  //     grid-template-areas:
  //         "a a b"
  //         "c d d";
  // }

  &--layout_alignment {
    grid-template-columns: auto 5.04rem;
    grid-template-areas: "a b";
    align-items: center;
  }

  &--layout_3e {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "a b c";
  }

  &--layout_3lr {
    grid-template-columns: 5fr 3fr 5fr;
    grid-template-areas: "a b c";
  }

  &--layout_3f {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "a b c";
  }

  &--layout_4e {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "a b c d";
  }

  &--layout_1-4e {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "a b";
  }

  &--layout_4l {
    grid-template-columns: 1fr 2fr 2fr 2fr;
    grid-template-areas: "a b c d";
  }

  &--layout_5e {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "a b c d e";
  }

  &--layout_6e {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "a b c d e f";
  }


  .layout__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }


  // === Indent layouts === 

  $indent: 1.75rem;
  $indent_wide: 2.8rem;
  $indent_narrow: 1rem;

  @mixin indent-item {
    text-align: center;
    .field--control_checkbox,
    .level-marker {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &--layout_indent-l,
  &--layout_indent-r,
  &--layout_indent-lr,
  &--layout_indent-lw,
  &--layout_indent-rw,
  &--layout_indent-lrw,
  &--layout_indent-ln,
  &--layout_indent-rn,
  &--layout_indent-lrn {
    grid-gap: 3 * $pt;
    align-items: center;
  }

  &--layout_indent-l,
  &--layout_indent-lr,
  &--layout_indent-lw,
  &--layout_indent-lrw,
  &--layout_indent-ln,
  &--layout_indent-lrn {
    > .g:first-child {
      @include indent-item;
    }
  }

  &--layout_indent-r,
  &--layout_indent-lr,
  &--layout_indent-rw,
  &--layout_indent-lrw,
  &--layout_indent-rn,
  &--layout_indent-lrn {
    > .g:last-child {
      @include indent-item;
    }
  }

  &--layout_indent-l {
    grid-template-columns: $indent 1fr;
  }

  &--layout_indent-r {
    grid-template-columns: 1fr $indent;
  }

  &--layout_indent-lr {
    grid-template-columns: $indent 1fr $indent;
  }

  &--layout_indent-lw {
    grid-template-columns: $indent_wide 1fr;
  }

  &--layout_indent-rw {
    grid-template-columns: 1fr $indent_wide;
  }

  &--layout_indent-lrw {
    grid-template-columns: $indent_wide 1fr $indent_wide;
  }

  &--layout_indent-ln {
    grid-template-columns: $indent_narrow 1fr;
  }

  &--layout_indent-rn {
    grid-template-columns: 1fr $indent_narrow;
  }

  &--layout_indent-lrn {
    grid-template-columns: $indent_narrow 1fr $indent_narrow;
  }


  &--layout_spells-list {
    grid-template-columns: 1fr 2rem 1fr;
    grid-template-areas: "a level b";
    align-items: center;

    .level {
      grid-area: "level";
    }

    .field {
      flex: 1 0 auto;
    }
    .field__box {
      flex: 1 1 auto;
    }
  }

  &--flex {
    > * {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }

  &--vr {
    > * {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 2 * $pt;
        bottom: 2 * $pt;
        left: -9 * $pt;
      }
    }
  }

  .layout__place {
    &.loc_top-left {
      grid-area: "top-left";
    }
    &.loc_top {
      grid-area: "top";
    }
    &.loc_top-right {
      grid-area: "top-right";
    }
    &.loc_left {
      grid-area: "left";
    }
    &.loc_middle {
      grid-area: "middle";
    }
    &.loc_right {
      grid-area: "right";
    }
    &.loc_bottom-left {
      grid-area: "bottom-left";
    }
    &.loc_bottom {
      grid-area: "bottom";
    }
    &.loc_bottom-right {
      grid-area: "bottom-right";
    }
  }
}

.page--unbalanced > .layout > .column {
  display: block !important;
}
