/* Layout */

.layout {
  display: grid;
  grid-gap: 0 0.5cm;
  // @include elementMargin;

  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
  }

  &--gutter_small {
    grid-gap: 0 0.3cm;
  }

  &--gutter_none {
    grid-gap: 0 0;
  }

  &--layout_1n {
    padding: 0 2cm;
    grid-template-columns: 1fr;
  }

  &--layout_2e {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a b";
  }

  &--layout_2l {
    grid-template-columns: 5fr 8fr;
    grid-template-areas: "left right";
  }

  &--layout_2r {
    grid-template-columns: 8fr 5fr;
    grid-template-areas: "left right";
  }

  &--layout_3x3 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "top-left top top-right"
      "left center right"
      "bottom-left bottom bottom-right";
  }

  // .page > &:only-child {
  //     grid-template-rows: 100%;
  // }

  // &--layout_2l2r {
  //     grid-template-columns: 5fr 3fr 5fr;
  //     grid-template-rows: auto auto;
  //     grid-template-areas:
  //         "a b b"
  //         "c c d";
  // }

  // &--layout_2r2l {
  //     grid-template-columns: 5fr 3fr 5fr;
  //     grid-template-rows: auto auto;
  //     grid-template-areas:
  //         "a a b"
  //         "c d d";
  // }

  &--layout_alignment {
    grid-template-columns: auto 1.8cm;
    grid-template-areas: "a b";
    align-items: center;
  }

  // &.layout-action {
  //     grid-template-columns: 0.7cm auto;
  //     grid-template-areas: "a b";
  //     align-items: center;
  // }

  &--layout_3e {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "a b c";
  }

  &--layout_3lr {
    grid-template-columns: 5fr 3fr 5fr;
    grid-template-areas: "a b c";
  }

  &--layout_4e {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "a b c d";
  }

  &--layout_5e {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "a b c d e";
  }

  &--layout_6e {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "a b c d e f";
  }

  // &--layout_landscape {
  //     -webkit-transform: rotate(-90deg);
  //     -moz-transform:rotate(-90deg);
  //     transform: rotate(-90deg);
  //     filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  // }

  // &.layout_inventory {
  //     grid-template-columns: 5fr 4fr 4fr;
  //     grid-template-rows: auto auto auto;
  //     grid-template-areas:
  //         "a b c"
  //         "a d d"
  //         "a e f";
  // }

  $indent: 1.75rem;
  $indent_wide: 3rem;

  &--layout_indent-l {
    grid-template-columns: $indent 1fr;
    grid-gap: 3 * $pt;
    align-items: center;

    > .g:first-child {
      text-align: center;
      .field--control_checkbox,
      .level-marker {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &--layout_indent-r {
    grid-template-columns: 1fr $indent;
    grid-gap: 3 * $pt;
    align-items: center;

    > .g:last-child {
      text-align: center;
      .field--control_checkbox,
      .level-marker {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &--layout_indent-lr {
    grid-template-columns: $indent 1fr $indent;
    grid-gap: 3 * $pt;
    align-items: center;

    > .g:first-child,
    > .g:last-child {
      text-align: center;
      .field--control_checkbox,
      .level-marker {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &--layout_indent-lw {
    grid-template-columns: $indent_wide 1fr;
    grid-gap: 3 * $pt;
    align-items: center;

    > .g:first-child {
      text-align: center;
      .field--control_checkbox,
      .level-marker {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &--layout_indent-rw {
    grid-template-columns: 1fr $indent_wide;
    grid-gap: 3 * $pt;
    align-items: center;

    > .g:last-child {
      text-align: center;
      .field--control_checkbox,
      .level-marker {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &--layout_indent-lrw {
    grid-template-columns: $indent_wide 1fr $indent_wide;
    grid-gap: 3 * $pt;
    align-items: center;

    > .g:first-child,
    > .g:last-child {
      text-align: center;
      .field--control_checkbox,
      .level-marker {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &--layout_spells-list {
    grid-template-columns: 1fr 2rem 1fr;
    grid-template-areas: "a level b";
    align-items: center;

    .level {
      grid-area: "level";
    }
  }

  &--flex {
    > * {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }

  .layout__place {
    &.loc_top-left {
      grid-area: "top-left";
    }
    &.loc_top {
      grid-area: "top";
    }
    &.loc_top-right {
      grid-area: "top-right";
    }
    &.loc_left {
      grid-area: "left";
    }
    &.loc_middle {
      grid-area: "middle";
    }
    &.loc_right {
      grid-area: "right";
    }
    &.loc_bottom-left {
      grid-area: "bottom-left";
    }
    &.loc_bottom {
      grid-area: "bottom";
    }
    &.loc_bottom-right {
      grid-area: "bottom-right";
    }
  }

  // .column {
  //     display: flex !important;
  //     flex-direction: column;
  //     flex-wrap: nowrap;
  //     grid-area: auto;
  // }
}

.page--unbalanced > .layout > .column {
  display: block !important;
}
