.level-marker {
    padding-bottom: 2pt;
    label, .level-marker__level {
        text-align: center;
    }
}

.layout--layout_level {
    grid-template-columns: 2rem 1fr;
    grid-template-areas: "a b";
    grid-gap: 3pt;

    align-items: center;
}