.level-marker {
  padding-bottom: 2 * $pt;
  min-width: 2rem;

  label, .level-marker__level {
    text-align: center;
  }

  &.level-marker--inline {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    align-items: center;

    label {
      transform: rotate(-90deg);
    }

    .level-marker__level {
      margin: 0 3*$pt;
    }
  }
}
