.list {
    > * {
        // padding: 0.01pt 0; // to ensure internal margins don't leak
        padding: 0.01pt 2pt;
        margin-top: 0;
        margin-bottom: 0;

        &:last-child {
            border-bottom: 0 none;
        }

        > .layout {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    > .row {
        margin-top: 0;
        margin-bottom: 0;
    }

    &--hr {
        > * {
            border-bottom: 1.5pt solid #a0a0a0;
        }

        > .row:first-child {
            margin-top: 0;
        }
    }

    &--collapse {
        > * {
            padding: 0;
        }

        > *, .field, .row {
            margin-top: -0.37pt;
            margin-bottom: -0.37pt;
        }
    }

    &--merge-bottom > *:last-child {
        &.field .field__inner, .field .field__inner {
            border-bottom-width: 0 !important;
        }
    }

    &--flex {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        > * {
            flex: 1 0 auto;
        }
    }
}
