.list {
  > * {
    padding: 0.01*$pt 2*$pt;
    margin-top: 0;
    margin-bottom: 0;

    &:last-child {
      border-bottom: 0 none;
    }

    > .layout {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  > .list {
    padding: 0;
  }

  > .row {
    margin-top: 0;
    margin-bottom: 0;
  }

  &--hr {
    > * {
      border-bottom: $hr solid #a0a0a0;
    }

    > .row:first-child {
      margin-top: 0;
    }
  }

  &--collapse {
    > * {
      padding: 0;
    }

    > *,
    .field,
    .row {
      margin-top: -0.37*$pt;
      margin-bottom: -0.37*$pt;
    }
  }

  &--merge-bottom > *:last-child {
    &.field .field__inner,
    .field .field__inner {
      border-bottom-width: 0 !important;
    }
  }

  &--flex {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    > * {
      flex: 1 0 auto;
    }
  }
}
