.logo {
    margin: 0;
    &, .page.page--flex .page__contents & {
      min-height: 4.5rem;
    }
    // background-image: url('{{{dataurl "images/logo.png"}}}');
    // background-image: url('{{{dataurl "images/2e-logo.png"}}}');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
