p {
  @include elementMargin;
  line-height: 1.1em;

  &.p--size_large {
    font-size: 1.25rem;
    margin: 0.6rem 0;
  }

  &.p--size_huge {
    font-size: 1.5rem;
    margin: 0.8rem 0;
  }

  .icon {
    margin-right: 3*$pt;
  }

  &--pad {
    padding: 2*$pt 0;
  }
}

h4, h5, h6, article header {
  + .g p {
    margin-top: 0;
  }
}

ul {
  padding-left: 1.5rem;
  @include elementMargin;

  &--pad {
    padding: 2*$pt 0;
  }
}

li {
  margin: $pt 0;
}

dl {
  display: block;
  @include elementMargin;

  &.dl--div {
    div {
      display: block;
      padding-left: 1rem;
      &:first-line {
        text-indent: -1rem;
      }
    }
  }

  div {
    display: inline;
    // white-space: nowrap;
  }

  dt {
    display: inline;
    font-weight: bold;
    white-space: nowrap;
  }

  dd {
    display: inline;
    margin-left: 3*$pt;
    margin-right: 5*$pt;
    // white-space: nowrap;
  }
}
