p {
  font-size: 0.8rem;
  margin: 3pt 0;

  &.p--size_large {
    font-size: 1.25rem;
    margin: 6pt 0;
  }

  &.p--size_huge {
    font-size: 1.5rem;
    margin: 8pt 0;
  }

  .icon {
    margin-right: 3pt;
  }
}

h4, h5, h6, article header {
  + .g p {
    margin-top: 0;
  }
}

ul {
  padding-left: 1.5rem;
  margin: 2pt 0;
}

li {
  margin: 1pt 0;
}

dl {
  display: block;
  margin: 2pt 0;

  div {
    display: inline;
    white-space: nowrap;
  }

  dt {
    display: inline;
    font-weight: bold;
    white-space: nowrap;
  }

  dd {
    display: inline;
    margin-left: 3pt;
    margin-right: 5pt;
    white-space: nowrap;
  }
}
