.page {
  padding: 1cm;
  position: relative;

  background-color: white;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;

  overflow: hidden;
  
  &--no-bg {
    background-image: none !important;
  }
  
  .page__number {
    position: absolute;
    bottom: 0.5cm;
    right: 0.5cm;
    width: 0.8cm;
    height: 0.5cm;
    text-align: center;
    font-size: 1.5rem;
    line-height: 0.5cm;
  }

  .copyright-attribution {
    position: absolute;
    left: 1cm;
    right: 1.3cm;
    bottom: 0;
    height: 0.95cm;
    overflow: hidden;

    p {
      margin: 0;
    }

    &, p, span {
      font-size: 0.45rem;
      line-height: 0.6rem;
    }

    b {
      font-size: 0.55rem;
      font-weight: normal;
      // text-decoration: none;
      margin-right: 0.5rem;
    }
  }

  .page__contents {
    background: rgba(255,255,255,0.3);
    box-shadow: 0 0 30px rgba(255,255,255,0.6);
    
    overflow: hidden;
  }

  &--landscape {
    .page__contents {
      position: relative;
      
      > .layout {
        grid-gap: 1cm;
      }
      &:after {
        content: " ";
        position: absolute;
        top: 0;
        left: 50%;
        bottom: 0;
        width: 0;
        border-left: $pt dashed #c0c0c0;
      }
    }
  }
  
  .page__watermark {
    position: absolute;
    top: 35rem;
    left: -5rem;

    &__inner {
      transform: rotate(-65deg);
      transform-origin: center;
      width: 70rem;
      height: 10rem;
      line-height: 10rem;
  
      text-align:center;
      font-size: 9rem;
      opacity: 0.2;
    }
  }

  @media screen {
    &--landscape .page__watermark {
      top: 25rem;
      left: 6rem;
      &__inner {
        transform: rotate(-25deg);
      }
    }
  }
}
