.page {
	padding: 1cm;
	position: relative;

	// background-image: url('{{{dataurl "images/frost1.jpg"}}}');
	background-color: white;
	background-size: 100% 100%;
    background-repeat: no-repeat;
	background-position: center;

	overflow: hidden;
	
	&--no-bg {
		background-image: none !important;
	}
	
	.page-number {
		position: absolute;
		bottom: 0.4cm;
		right: 0.5cm;
		width: 1cm;
		text-align: center;
		font-size: 1.2rem;
	}

	.copyright-attribution {
		position: absolute;
		left: 1cm;
		right: 1.3cm;
		bottom: 0;
		height: 0.95cm;
		overflow: hidden;

		p {
			margin: 0;
		}

		&, p, span {
			font-size: 0.45rem;
			line-height: 0.6rem;
		}

		b {
			font-size: 0.55rem;
			font-weight: normal;
			// text-decoration: none;
			margin-right: 5pt;
		}
	}

	.page__contents {
		background: rgba(255,255,255,0.3);
		box-shadow: 0 0 30px rgba(255,255,255,0.6);
	}

	&--landscape {
		.page__contents {
			position: relative;
			
			> .layout {
				grid-gap: 1cm;
			}
			&:after {
				content: " ";
				position: absolute;
				top: 0;
				left: 50%;
				bottom: 0;
				width: 0;
				border-left: 1pt dashed #c0c0c0;
			}
		}
	}
}