.portrait {
    margin: 0;
    min-height: 15rem;
    mix-blend-mode: darken;
    flex: 10000 1 auto;
    position: relative;
    display: flex;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,ffffff+50 */
    background: rgb(30,87,153); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, white 40%, rgba(255,255,255,0) 70%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, white 40%,rgba(255,255,255,0) 70%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, white 40%,rgba(255,255,255,0) 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    .portrait__inner {
        flex: 1 1 auto;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    figcaption {
        position: absolute;
        bottom: 3pt;
        left: 0;
        right: 0;

        font-size: 0.5rem;
        text-align: left;

        opacity: 0.7;
    }

    &--overprint {
        margin-left: -0.4cm;
        margin-right: -0.4cm;

        figcaption {
            left: 0.4cm;
            right: 0.4cm;
        }
    }

    &--animal-companion {
        min-height: 3cm;
    }
}
