.portrait {
  $bgopacity: 0.8;
  
  margin: 0;
  flex: 10000 1 15rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,ffffff+50 */
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,$bgopacity) 40%, rgba(255,255,255,0) 70%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,$bgopacity) 40%,rgba(255,255,255,0) 70%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(255,255,255,$bgopacity) 40%,rgba(255,255,255,0) 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  
  .portrait__inner {
    mix-blend-mode: darken;
    flex: 1 1 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 13cm;
    max-height: 18cm;
    width: 100%;
  }
  
  figcaption {
    position: absolute;
    bottom: 3*$pt;
    left: 0;
    right: 0;
    
    font-size: 0.5rem;
    text-align: left;
    
    opacity: 0.7;
  }
  
  &--overprint {
    margin-left: -0.4cm;
    margin-right: -0.4cm;
    
    figcaption {
      left: 0.4cm;
      right: 0.4cm;
    }
  }
  
  &--animal-companion {
    min-height: 3cm;
  }
}
