/* A row of elements */

.row {
  // @include elementMargin;
  display: flex;
  flex-direction: column;
  justify-content: center;

  > .row__inner {
    min-height: 1.5rem;
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    // align-items: center;

    > * {
      margin-top: 0;
      margin-bottom: 0;
      // flex: 1 1 auto;

      // + * {
      //   margin-left: 3 * $pt;
      // }
    }

    > span,
    > .ruby > span {
      margin: 0 2 * $pt;
      font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
      font-weight: bold;
      font-size: 1.1rem;
      display: inline-block;
      height: 1.6rem;
      line-height: 1.6rem;
      white-space: nowrap;
    }

    p {
      min-height: 1.5rem !important;
    }
  }

  &--pad {
    padding: 2 * $pt 0;
  }

  &--wrap {
    > .row__inner {
      flex-wrap: wrap;

      > * {
        white-space: nowrap;
      }
    }
  }

  &.row--narrow {
    > .row__inner > * + * {
      margin-left: 0;
    }
  }

  &--layout_center > .row__inner {
    justify-content: center;
  }

  &--layout_left > .row__inner {
    justify-content: flex-start;
  }

  &--layout_right > .row__inner {
    justify-content: flex-end;
  }

  &--layout_split > .row__inner {
    justify-content: space-between;
  }

  &.valign_top > .row__inner {
    align-items: flex-start;
  }

  &.valign_center > .row__inner {
    align-items: center;
  }

  // > .field--width_stretch {
  //     width: auto !important;
  //     flex: 100 1 auto;
  //     display: flex;
  //     flex-direction: row;
  // }

  h6 {
    line-height: 1.2rem;
    flex: 100 1 auto;
  }
}

.list > .g > .row {
  &:first-child {
    margin-top: $pt;
  }
  &:last-child {
    margin-bottom: $pt;
  }
}
