/* A row of elements */

.row {
	margin: 2pt 0;
	display: flex;
	flex-direction: column;
    justify-content: center;

    > .row__inner {
        min-height: 1.5rem;
        flex: 0 1 auto;
        display: flex;
        flex-direction: row;
        align-items: flex-end;

        > * {
            margin-top: 0;
            margin-bottom: 0;
            // flex: 1 1 auto;

            + * {
                margin-left: 3pt;
            }
        }

        > span {
            margin: 0 2pt;
            font-family: "Merriweather", Georgia, 'Times New Roman', Times, serif;
            font-weight: bold;
            font-size: 1.1rem;
            display: inline-block;
            height: 1.6rem;
            line-height: 1.6rem;
            white-space: nowrap;
        }
    }

    &.row--narrow {
        > .row__inner > * + * {
            margin-left: 0;
        }
    }

    &--layout_center > .row__inner {
        justify-content: center;
    }

    &--layout_left > .row__inner {
        justify-content: flex-start;
    }

    &--layout_right > .row__inner {
        justify-content: flex-end;
    }

    &--layout_split > .row__inner {
        justify-content: space-between;
    }
    
    &.valign_top > .row__inner {
        align-items: flex-start;
    }

    &.valign_center > .row__inner {
        align-items: center;
    }

    // > .field--width_stretch {
    //     width: auto !important;
    //     flex: 100 1 auto;
    //     display: flex;
    //     flex-direction: row;
    // }

    h6 {
        line-height: 2rem;
        flex: 100 1 auto;
    }
}

.list > .g > .row {
    &:first-child {
        margin-top: 1pt;
    }
    &:last-child {
        margin-bottom: 1pt;
    }
}
