$rb: 0.8rem;
$rbsp: 0.1rem;
  
.ruby {
  position: relative;
  display: flex;
	flex-direction: row;
  align-items: flex-end;

  label.ruby__text {
    position: absolute;
    left: 0;
    right: 0;
    height: $rb;
    line-height: $rb;

    .rb_1 & {
      bottom: -($rbsp + $rb);
    }
    .rb_2 & {
      bottom: -($rbsp + $rb * 2);
    }
    .rb_3 & {
      bottom: -($rbsp + $rb * 3);
    }
  }
}

.field {
  &.rb_1 {
    padding-bottom: $rbsp + $rb;
  }
  &.rb_2 {
    padding-bottom: $rbsp + $rb * 2;
  }
  &.rb_3 {
    padding-bottom: $rbsp + $rb * 3;
  }
}

.field__ruby-text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  
  // .rb_1 & {
  //   bottom: -($rbsp + $rb);
  // }
  // .rb_2 & {
  //   bottom: -($rbsp + $rb * 2);
  // }
  // .rb_3 & {
  //   bottom: -($rbsp + $rb * 3);
  // }
}

.row {
  &.rb_1 {
    padding-bottom: $rbsp + $rb;
    .rb_1, .rb_2, .rb_3 { padding-bottom: 0; }
    .field__ruby-text { bottom: -($rbsp + $rb); }
  }
  &.rb_2 {
    padding-bottom: $rbsp + $rb * 2;
    .rb_1, .rb_2, .rb_3 { padding-bottom: 0; }
    .field__ruby-text { bottom: -($rbsp + $rb * 2); }
  }
  &.rb_3 {
    padding-bottom: $rbsp + $rb * 3;
    .rb_1, .rb_2, .rb_3 { padding-bottom: 0; }
    .field__ruby-text { bottom: -($rbsp + $rb * 3); }
  }
}
