section {
  // margin-top: 2*$pt;
  // &:after {
  //   content: "";
  //   display: block;
  //   overflow: hidden;
  //   flex: 2 10 0.2rem;
  // }

  &.section--mark {
    .section__inner {
      position: relative;
    }

    i.mark {
      position: absolute;
      top: 1rem;
      left: 1rem;
      right: 1rem;
      bottom: 1rem;

      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      opacity: 0.1;
    }
  }
}
