.spacer {
	height: 0;
	margin: 0 !important;
	flex: 10000 10000 auto !important;
	background: none !important;

  &.flex_small {
    flex: 100 100 auto !important;
  }

  &.flex_tiny {
    flex: 5 5 auto !important;
  }
}

.row > .spacer {
	height: auto;
	width: 2rem;
}
