span {
  .page__contents & {
    // white-space: nowrap;
  }

  &.span--value {
    
  }

  &.span--nowrap {
    white-space: nowrap;
  }

  &.size_small {
    font-size: 85%;
  }

  &.size_tiny {
    font-size: 75%;
  }
}
