/* Tables */

table {
  // width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  // @include elementMargin;

  &:last-child {
    margin-bottom: 0;
  }

  th:first-child {
    text-align: left;
  }

  th,
  td {
    font-weight: normal;
    margin: 0;
    padding: $pt;
    text-align: center;
    vertical-align: bottom;

    span {
      font-size: 1rem;
      // line-height: 2.2rem;
    }

    h6 {
      margin-left: 3 * $pt;
      line-height: 2.2rem;
    }

    p {
      margin: $pt 0;
      min-height: 1.3rem;
    }

    .field {
      margin-left: auto;
      margin-right: auto;

      &.align_left {
        margin-left: 0;
      }

      &.align_right {
        margin-right: 0;
      }
    }

    > .field--width_stretch {
      input,
      output {
        width: 100%;
      }
    }

    &.align_left {
      text-align: left;
    }

    &.align_centre {
      text-align: center;
    }

    &.align_right {
      text-align: right;
    }

    &.valign_top {
      vertical-align: top;
    }

    &.valign_middle {
      vertical-align: middle;
    }
  }

  tr.tr--hr {
    td,
    th {
      border-top: $pt solid #808080;
    }
  }

  &.table--collapse {
    border-collapse: collapse;
    th {
      padding: 0;
      padding-bottom: 0.7 * $pt;
    }
    td {
      padding: 0;

      .field {
        margin-top: -0.38 * $pt;
        margin-bottom: -0.38 * $pt;
      }

      span {
        line-height: 1.6rem;
      }

      h6 {
        line-height: 1.6rem;
      }

      .level-marker {
        vertical-align: middle;
      }
    }
  }

  &.table--width_stretch {
    width: 100%;
  }

  &.table--layout_2r {
    table-layout: fixed;
    td {
      &:nth-child(1) {
        width: 62%;
      }
      &:nth-child(2) {
        width: 38%;
      }
    }
  }
  &.table--layout_2r-80-20 {
    table-layout: fixed;
    td {
      &:nth-child(1) {
        width: 80%;
      }
      &:nth-child(2) {
        width: 20%;
      }
    }
  }

  &.table--flip {
    th, td {
      vertical-align: middle;
    }
  }
}
