/**
 * Copyright 2025 Marcus Downing
 * This file is compliant with the Open Game License (OGL).
 * See the text of the OGL within this repository.
 */

.embed {
  &--src_shield {
    flex: 1 1 auto;
    height: 12rem;
    background-image: url('{{{dataurl "images/shield.svg"}}}');
  }
}
