@font-face {
    font-family: "Roboto Condensed";
    src: url('{{{dataurl "fonts/RobotoCondensed-Regular.woff"}}}'); // format(woff);
}

@font-face {
    font-family: "Merriweather";
    font-weight: 900;
    src: url('{{{dataurl "fonts/Merriweather-Black.woff"}}}'); // format(woff);
}


/* Fonts */
  
body, p, input, output {
    font-family: "Roboto Condensed", 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}

h1, h2, h3, h4, h5, legend, article header .annotation, .field u, .level-marker__level, .page__watermark__inner {
    font-family: "Merriweather", Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
}
