@font-face {
    font-family: "Roboto Condensed";
    src: url('{{{dataurl "fonts/RobotoCondensed-Regular.woff"}}}'); // format(woff);
}

@font-face {
    font-family: "Merriweather";
    font-weight: 900;
    src: url('{{{dataurl "fonts/Merriweather-Black.woff"}}}'); // format(woff);
}

@font-face {
    font-family: "Merriweather";
    font-weight: 400;
    src: url('{{{dataurl "fonts/Merriweather-Regular.woff"}}}'); // format(woff);
}


/* Fonts */

@mixin bodyfont {
  font-family: "Roboto Condensed", 'Arial Narrow', Arial, sans-serif;
}

@mixin headerfont {
  font-family: "Merriweather", Georgia, 'Times New Roman', Times, serif;
  font-weight: 900;
}
@mixin headlinefont {
  font-family: "Merriweather", Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
}

  
body, p, input, output {
  @include bodyfont;
  font-size: 1rem;
}

h1, h2, h3, h5, legend, article header .annotation, .field u, .level-marker__level, .page__watermark__inner, .span--value {
  @include headerfont;
}

h4 {
  @include headlinefont;
}
