$color_bg: #808080;
$color_bg_shadow: #707070;
$color_legend: #606060;
$color_dark_shadow: #404040;

$border_width_hr: 1.5pt;

/* Column Borders */

.column.column--non-final > * {
    padding-bottom: 0 !important;
    border-bottom: 0 none !important;
}

/* Headings */

.class-name {
  margin-bottom: 1.4rem;
  h2, h5 {
    text-align: center;
    color: $color_bg_shadow; 
  }
}

h1, h2, h3, h5 {
    text-transform: uppercase;
}

h2 {
    text-align: center;
    padding: 0;
    flex: 0 1 auto;

    font-size: 1.6rem;
}

h3 {
    font-size: 0.95rem;
    height: 1.3rem;
    line-height: 1.43rem;
    font-kerning: normal;
    letter-spacing: 0.5pt;
    
    margin: 0;
    text-align: center;
    
    background-image: url('{{{dataurl "images/h3.svg"}}}');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 1.3rem;
    
    color: white;
    text-stroke: 0.25pt $color_dark_shadow;
    text-shadow: 0 0 2*$pt $color_dark_shadow, 0 $pt $pt $color_dark_shadow;

    &:first-letter {
      font-size: 1.03rem;
    }
}

hr.hr--tail {
    border-top: 0 none;
    height: 0.5rem;
    margin-top: -2*$pt;

    background-image: url('{{{dataurl "images/tail.svg"}}}');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 1.3rem;
}

h4 {
    // color: $color_bg_shadow;
    color: --c-accent;
    font-size: 2rem;
    height: 3.2rem;
    line-height: 3.2rem;

    section.section--primary & {
      padding-left: 0.4rem;
    }
}

h6 {
    font-size: 1rem;
    font-weight: normal;
    text-align: left;
    margin: 0;
    line-height: 1.4rem;

    &.h6--fade {
      color: $colour_mid;
      opacity: 0.7;
    }
}

legend, h5 {
    color: $color_bg;
    font-size: 0.8rem;
    text-transform: uppercase;

    &:first-line {
        color: $color_legend;
    }
}

section.section--primary {
    margin-bottom: 4*$pt;

    > .section__inner {
        padding: 0 4*$pt 3*$pt 4*$pt;

        border: 1.5pt solid $color_bg;
        border-top: 0 none;
        margin-bottom: 3*$pt;
        background: rgba(255,255,255,0.5);

        hr {
            margin-left: -4*$pt;
            margin-right: -4*$pt;
        }

        > .list {
            margin-left: -4*$pt;
            margin-right: -4*$pt;
            margin-bottom: -4*$pt;

            &.list--hr > * {
              border-bottom-color: $color_bg;
            }

            > .g {
              padding-left: 4*$pt;
              padding-right: 4*$pt;
            }
        }
    }
}

span.vr {
  border-left: 2*$pt solid $colour_light;
  height: 2.5rem !important;
}


span.span--article-cat {
  &,  article header .row > .row__inner > & {
    @include bodyfont;
  }
  font-weight: bold;
  text-transform: uppercase;
  text-align: right;
}

.page-build {
  h4 {
    margin-top: 0;
  }
}
