$color_bg: #808080;
$color_bg_shadow: #707070;
$color_legend: #606060;
$color_dark_shadow: #404040;

$border_width_hr: 1.5pt;

/* Column Borders */

/*
.page__contents {
    > *:last-child {
        // padding-bottom: 2pt;
        border-bottom: $border_width_hr solid $colour_mid;

        &.layout {
            // padding-bottom: 0;
            border-bottom: 0 none;
            > *:last-child {
                // padding-bottom: 2pt;
                border-bottom: $border_width_hr solid $colour_mid;
            }
            &--layout_2e, &--layout_2l, &--layout_2r {
                > *:nth-last-child(2) {
                    // padding-bottom: 2pt;
                    border-bottom: $border_width_hr solid $colour_mid;
                }
            }
        }
    }
}
*/

.column.column--non-final > * {
    padding-bottom: 0 !important;
    border-bottom: 0 none !important;
}

/* Headings */

h1, h2, h3, h5 {
    text-transform: uppercase;
}

h2 {
    text-align: center;
    padding: 0 0 1.4rem 0;
    flex: 0 1 auto;

    font-size: 1.6rem;
    
    // &:first-letter {
    //   font-size: 1.7rem;
    // }
}

h3 {
    font-size: 0.95rem;
    height: 1.3rem;
    line-height: 1.43rem;
    font-kerning: normal;
    letter-spacing: 0.5pt;
    
    margin: 0;
    text-align: center;
    
    background-image: url('{{{dataurl "images/h3.svg"}}}');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 1.3rem;
    
    text-transform: uppercase;
    color: white;
    text-stroke: 0.25pt $color_dark_shadow;
    text-shadow: 0 0 2pt $color_dark_shadow, 0 1pt 1pt $color_dark_shadow;

    &:first-letter {
      font-size: 1.03rem;
    }
}

hr.hr--tail {
    border-top: 0 none;
    height: 0.5rem;
    margin-top: -2pt;

    background-image: url('{{{dataurl "images/tail.svg"}}}');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 1.3rem;
}

h4 {
    color: $color_bg_shadow;
    font-size: 1.3rem;
    height: 2.2rem;
    line-height: 2.4rem;

    section.section--primary & {
      padding-left: 0.5rem;
    }
}

h6 {
    font-size: 0.9rem;
    font-weight: normal;
    text-align: left;
    margin: 0;
    line-height: 1.3rem;
}

legend, h5 {
    color: $color_bg;
    font-size: 0.8rem;
    text-transform: uppercase;

    &:first-line {
        color: $color_legend;
    }
}


section.section--primary {
    margin-bottom: 4pt;

    // > h3 {
    //     margin-bottom: -10pt -3pt 0 -3pt;
    // }
    > .section__inner {
        padding: 0.01pt 4pt 3pt 4pt;


        border: 2pt solid #707070;
        border-top: 0 none;
        // padding: 1pt 2pt;
        margin-bottom: 3pt;



        // border-top: 0 none;
    
        background: rgba(255,255,255,0.5);
        // background-image: url('{{{dataurl "images/primarybox.svg"}}}');
        // background-position: bottom;
        // background-repeat: no-repeat;
        // background-size: 100% auto;

        hr {
            margin-left: -4pt;
            margin-right: -4pt;
        }

        > .list {
            margin-left: -4pt;
            margin-right: -4pt;

            > .g {
              padding-left: 4pt;
              padding-right: 4pt;
            }
        }
    }
}

span.vr {
  border-left: 2pt solid $colour_light;
  height: 2.5rem !important;
}
