/* Icons */

// $icon_size: 1.5rem;
// $icon_size_padded: 1.6rem;

// $icon_size_small: 1.1rem;
$icon_size_action2: 1.5 * 1.3rem;
$icon_size_action3: 2 * 1.3rem;

@mixin icon($icon) {
    background-image: url('{{{dataurl "images/icon-#{$icon}.svg"}}}');
    // width: $icon-size;
}


i.icon {
    // width: $icon-size;
    // height: $icon_size_padded;

    &.icon_action {
        @include icon('action');
    }

    &.icon_action2 {
        @include icon('action2');
        width: $icon_size_action2;
    }

    &.icon_action2nd {
        @include icon('action2nd');
        width: $icon_size_action2;
    }

    &.icon_action3 {
        @include icon('action3');
        width: $icon_size_action3;
    }

    &.icon_action3rd {
        @include icon('action3rd');
        width: $icon_size_action3;
    }

    &.icon_reaction { @include icon('reaction'); }
    &.icon_free-action { @include icon('free-action'); }

    &.icon_action-template {
        @include icon('action-template');
        width: $icon_size_action3;
    }

    &.icon_bonus, &.icon_d20 { 
        @include icon('d20'); 
        // background-size: auto $icon_size_small;
    }

    &.icon_dc { 
        @include icon('dc'); 
        margin-right: -0.5rem;
    }
    &.icon_ac { @include icon('ac'); }
    &.icon_tac { @include icon('tac'); }

    &.icon_gender { @include icon('gender'); }
    &.icon_hp { @include icon('hp'); }
    &.icon_damage { @include icon('damage'); }
    &.icon_size { 
        @include icon('size');
        // background-size: auto $icon-size;
    }

    &.icon_good { @include icon('good'); }
    &.icon_evil { @include icon('evil'); }
    &.icon_lawful { @include icon('lawful'); }
    &.icon_chaotic { @include icon('chaotic'); }

    &.icon_quality { @include icon('quality'); }
    &.icon_potency { @include icon('potency'); }
}

.hr--swash {
    @include icon('d20');
}

/* Proficiency */

.field--control_proficiency .field__control--control_icon i, .field--icon_proficiency i, i.icon-proficiency, i.icon--icon_proficiency {
    background-image: url('{{{dataurl "images/icon-proficiency.svg"}}}'); 
    // background-size: auto $icon_size;
}

.field--control_proficiency .field__control--control_icon {
    .field--proficiency__trained:checked ~ i.field--proficiency__icon { background-image: url('{{{dataurl "images/icon-proficiency-trained.svg"}}}'); }
    .field--proficiency__expert:checked ~ i.field--proficiency__icon { background-image: url('{{{dataurl "images/icon-proficiency-expert.svg"}}}'); }
    .field--proficiency__master:checked ~ i.field--proficiency__icon { background-image: url('{{{dataurl "images/icon-proficiency-master.svg"}}}'); }
    .field--proficiency__legendary:checked ~ i.field--proficiency__icon { background-image: url('{{{dataurl "images/icon-proficiency-legendary.svg"}}}'); }
}

/* Classes */

// .class-icon--icon_bard { background-image: url('{{{dataurl "images/bard.png"}}}'); }
// .class-icon--icon_barbarian { background-image: url('{{{dataurl "images/barbarian.svg"}}}'); }
// .class-icon--icon_barbarian { background-image: url('{{{dataurl "images/class-icons/Barbarian.png"}}}'); }
// .class-icon--icon_wizard { background-image: url('{{{dataurl "images/class-icons/Wizard.png"}}}'); }
.class-icon.icon_cleric { background-image: url('{{{dataurl "images/class-icons/Cleric.png"}}}'); }

.class-icon.icon_box {
    width: 6rem;
    height: 6rem;
    margin-left: auto;
    margin-right: auto;
    flex: 0 0 auto;

    border: 1px solid $colour_light;
}