@font-face {
  font-family: "Roboto Condensed";
  src: url('{{{dataurl "fonts/RobotoCondensed-Regular.woff"}}}');
}

@font-face {
  font-family: "Exo 2";
  src: url('{{{dataurl "fonts/Exo2-Bold.woff"}}}');
}

/* Fonts */

@mixin bodyfont {
  font-family: "Roboto Condensed", "Arial Narrow", Arial, sans-serif;
}

@mixin headerfont {
  font-family: "Exo 2", Arial, sans-serif;
  font-weight: 900;
}

body,
p,
input,
output {
  @include bodyfont;
}

h1,
h2,
h3,
h5,
legend,
article header .annotation,
.field u,
.level-marker__level,
.page__watermark__inner,
.span--value {
  @include headerfont;
}
