h2, h3 {
  text-transform: uppercase;
}


h3 {
  font-size: 0.92rem;
  height: 1.28rem;
  line-height: 1.15rem;
  font-kerning: normal;
  letter-spacing: 0.5 * $pt;

  margin: 0;
  text-align: left;
  padding-left: 0.6rem;

  background-image: url('{{{dataurl "images/h3.svg"}}}');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 1.28rem;

  color: transparent;
  text-shadow: 0 0 white, 0 0 2 * $pt $colour_h3, 0 $pt $pt $colour_h3;
}

section section {
  padding-left: 0.5rem;
  h3 {
    height: 1.1rem;
    background-size: 100% 1.1rem;
    line-height: 1.07rem;
    opacity: 0.8;
    font-size: 0.9rem;
  }
}
